aiohttp==3.10.7
beautifulsoup4==4.12.3
Django==5.1.1
django_autoslug==1.9.9
django_environ==0.11.2
djangorestframework==3.15.2
exa_py==1.1.8
langchain_core==0.3.12
langchain_openai==0.2.3
protobuf==5.28.2
pydantic==2.9.2
python-dotenv==1.0.1
requests==2.32.3
django-unfold==1.2.1
