{% load static %}
{% load i18n %}
<div class="time-container">
    <div class="time-item">
        <p id='current-date'></p>
        <h3 id='current-time'>08:00</h3>
    </div>

    <div class="time-item">
        <p>{% trans 'schedule' %}</p>
        <h3 id='time-num'></h3>
    </div>

    <div class="time-item">
        <p id="library-status-close">{% trans 'before-the-library-opened' %}</p>
        <p id="library-status-open">{% trans 'before-the-library-closes' %}</p>
        <h3 id='close-time'></h3>
    </div>

    <div class="time-item">

        <img src="{% static 'img/services/book-logo.svg' %}" alt="Book logo"/>
    </div>

</div> <!-- /TIME -->