{% load i18n %}

<div class="item action">
    <div class="container">
        <div class="action-list">
            <h5>{% trans 'services' %}</h5>
            <!-- Элемент списка услуг со ссылками -->
            <a href="https://pushkinlibrary.kz/ru/servicesru/stat-shitatelem.html" class="item">
                <i class="bi bi-person"></i>
                <span>{% trans 'readers' %}</span>
            </a>
            <a href="https://pushkinlibrary.kz/ru/servicesru/virkespravka.html" class="item">
                <i class="bi bi-question-circle"></i>
                <span>{% trans 'virtual-help' %}</span>
            </a>
            <a href="https://pushkinlibrary.kz/ru/servicesru" class="item">
                <i class="bi bi-file-earmark-arrow-down"></i>
                <span>{% trans 'electronic-document-delivery' %}</span>
            </a>
            <a href="https://pushkinlibrary.kz/ru/servicesru/prodlit-knigu.html" class="item">
                <i class="bi bi-journal"></i>
                <span>{% trans 'renew-your-book' %}</span>
            </a>
            <a href="https://olketanu.pushkinlibrary.kz/index.php/kraevedenie-vko/3367-kalendar-znamenatelnykh-i-pamyatnykh-dat-po-vostochno-kazakhstanskoj-oblasti-2024.html" >
                <i class="bi bi-calendar"></i>
                <span>{% trans 'significant-calendar' %}</span>
            </a>
        </div>
    </div>
</div>
 <!-- /ROW -->