{% load i18n %}
{% load static %}
<div class="services__action services__news" data-sr-id="11"
     style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: box-shadow 0.2s, opacity 1.1s cubic-bezier(0.5, 0, 0, 1), transform 1.1s cubic-bezier(0.5, 0, 0, 1);">
    <div class="services__news-swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
        <div class="swiper-wrapper" id="swiper-wrapper-c0a702af10f82664" aria-live="off"
             style="transition-duration: 0ms; transform: translate3d(-626px, 0px, 0px); transition-delay: 0ms;">



            {% for item in news %}

            <div class="swiper-slide swiper-slide-next swiper-slide-prev" style="width: 626px;" role="group"
                 aria-label="2 / 2" data-swiper-slide-index="1">
                <img src="{{ item.main_image.url }}" alt="
                 {% if LANGUAGE_CODE == 'ru' %}
                    {{ item.title_ru }}
                {% elif LANGUAGE_CODE == 'kk' %}
                    {{ item.title_kz }}
                {% else %}
                    {{ item.title_en }}
                {% endif %}">
                <a href="{% url 'news' %}">
                    <h6 class="services__news-title">{% trans 'news' %}</h6>
                </a>
                <p class="services__news-desc">{% if LANGUAGE_CODE == 'ru' %}
                    {{ item.title_ru|truncatechars:50  }}
                {% elif LANGUAGE_CODE == 'kk' %}
                    {{ item.title_kz|truncatechars:50  }}
                {% else %}
                    {{ item.title_en|truncatechars:50  }}
                {% endif %}</p>
                <a class="services__news-link" href="{% url 'news_detail' slug=item.slug %}">{% trans 'read' %}</a>
            </div>


            {% endfor %}


        </div> <!-- /SWIPER-WRAPPER -->
        <div class="swiper-button-prev services__arrow" tabindex="0" role="button"
             aria-label="Previous slide" aria-controls="swiper-wrapper-c0a702af10f82664">
            <img src="{% static 'img/services/arrow-left.svg' %}" alt="Arrow Prev">
        </div> <!-- /NEXT -->
        <div class="swiper-button-next services__arrow" tabindex="0" role="button" aria-label="Next slide"
             aria-controls="swiper-wrapper-c0a702af10f82664">
            <img src="{% static 'img/services/arrow-right.svg' %}" alt="Arrow Next">
        </div> <!-- /PREV -->
        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
    <!-- SWIPER -->

</div>