{% load static %}
<div class="services__action services__events" data-sr-id="14"
     style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: box-shadow 0.2s, opacity 1.4s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 1.4s cubic-bezier(0.5, 0, 0, 1) 0.2s;">
    <div class="services__events-row">
        <div class="services__events-swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
            <div class="swiper-wrapper" id="swiper-wrapper-5d9b648fb3bed1109" aria-live="polite">
                {% for event in events %}

                    <div class="swiper-slide swiper-slide-active" style="width: 626px;" role="group" aria-label="1 / 2">
                        <div class="services__events-slide-row">
                            <div class="services__events-slide-image">
                                <img src="{{ event.image.url }}" alt="


                                        {% if LANGUAGE_CODE == 'ru' %}{{ event.title_event_ru }}{% elif LANGUAGE_CODE == 'kk' %}{{ event.title_event_kz }}{% elif LANGUAGE_CODE == 'en' %}{{ event.title_event_en }}{% endif %}">

                                <div class="services__events-slide-shadow"></div>
                            </div>
                            <div class="services__events-slide-content">
                                <h6 class="services__events-slide-title">
                                    {% if LANGUAGE_CODE == 'ru' %}
                                        {{ event.title_event_ru|truncatechars:30  }}
                                    {% elif LANGUAGE_CODE == 'kk' %}
                                        {{ event.title_event_kz|truncatechars:30  }}
                                    {% elif LANGUAGE_CODE == 'en' %}
                                        {{ event.title_event_en|truncatechars:30  }}
                                    {% endif %}
                                </h6>
                                <p class="services__events-slide-location">{{ event.location }}</p>
                                <p class="services__events-slide-date">{{ event.date|date:"l d F" }}</p>
                                <p class="services__events-slide-time">{{ event.start_time }}
                                    - {{ event.end_time }}</p>
                                <p class="services__events-slide-desc">
                                    {% if LANGUAGE_CODE == 'ru' %}
                                        {{ event.content_event_ru|truncatechars:275  }}
                                    {% elif LANGUAGE_CODE == 'kk' %}
                                        {{ event.content_event_kz|truncatechars:275 }}
                                    {% elif LANGUAGE_CODE == 'en' %}
                                        {{ event.content_event_en|truncatechars:275 }}
                                    {% endif %}
                                </p>
                            </div> <!-- CONTENT -->
                        </div> <!-- SLLIDE ROW -->
                    </div> <!-- /SLIDE -->
                {% endfor %}


            </div> <!-- /SWIPER WRAPER -->
            <!-- PAGINATION -->
            <div class="swiper-button-prev services__events-arrow swiper-button-disabled" tabindex="-1" role="button"
                 aria-label="Previous slide" aria-controls="swiper-wrapper-5d9b648fb3bed1109" aria-disabled="true">
                <img src="{% static 'img/hero/arrow-prev.svg' %}" alt="Arrow Prev">
            </div>
            <div class="swiper-button-next services__events-arrow" tabindex="0" role="button" aria-label="Next slide"
                 aria-controls="swiper-wrapper-5d9b648fb3bed1109" aria-disabled="false">
                <img src="{% static 'img/hero/arrow-next.svg' %}" alt="Arrow Next">
            </div>
            <!-- /PAGINATION -->
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        <!-- /SERVICES SWIPER	-->
    </div> <!-- ROW -->
</div>