{% load i18n %}
{% load static %}


<div class="service-item news">
    <div class="swiper-container-news swiper">
        <div class="swiper-wrapper">
            {% for item in news %}
                <div class="swiper-slide">
                    <a href="{% url 'news' %}" class="tag-all">{% trans 'news' %}</a>
                    <a href="{% url 'news_detail' slug=item.slug %}">
                        <img src="{{ item.main_image.url }}" alt="{% if LANGUAGE_CODE == 'ru' %}
                            {{ item.title_ru }}
                            {% elif LANGUAGE_CODE == 'kk' %}
                            {{ item.title_kz }}
                            {% else %}
                            {{ item.title_en }}
                            {% endif %}" class="news-image">
                        <div class="news-content">
                            <h5>
                                {% if LANGUAGE_CODE == 'ru' %}
                                    {{ item.title_ru|truncatechars:50 }}
                                {% elif LANGUAGE_CODE == 'kk' %}
                                    {{ item.title_kz|truncatechars:50 }}
                                {% else %}
                                    {{ item.title_en|truncatechars:50 }}
                                {% endif %}
                            </h5>
                        </div>
                    </a>
                </div>

            {% endfor %}

        </div>
        <!-- Add Arrows -->
        <!-- Кнопки навигации -->
        <div class="swiper-button-prev">
            <img src="{% static 'img/services/arrow-left.svg' %}" alt="Previous Slide">
        </div>
        <div class="swiper-button-next">
            <img src="{% static 'img/services/arrow-right.svg' %}" alt="Next Slide">
        </div>

    </div>

</div>