{% load static %}

<div class="service-item event">
    <div class="swiper-container-events swiper">
        <div class="swiper-wrapper">
            {% for event in events %}

                <div class="swiper-slide">
                    <div class="swiper-slide swiper-slide-active"
                         style="width: 626px;height: 100%; background-image: url('{{ event.image.url }}'); background-size: cover; background-position: center;"
                         role="group" aria-label="{{ forloop.counter }} / {{ news_images|length }}">
                        <div class="services__events-slide-row">
                            <div class="services__events-slide-image">
                                {#                                <img style="width: 100%; height: 100%; object-fit: cover;" src="{{ event.image.url }}" alt="#}
                                {##}
                                {#                                        #}
                                {#                                        {% if LANGUAGE_CODE == 'ru' %}{{ event.title_event_ru }}{% elif LANGUAGE_CODE == 'kk' %}{{ event.title_event_kz }}{% elif LANGUAGE_CODE == 'en' %}{{ event.title_event_en }}{% endif %}">#}

                                <div class="services__events-slide-shadow"></div>
                            </div>
                            <div class="services__events-slide-content">
                                <h6 class="services__events-slide-title">
                                    {% if LANGUAGE_CODE == 'ru' %}
                                        {{ event.title_event_ru|truncatechars:30 }}
                                    {% elif LANGUAGE_CODE == 'kk' %}
                                        {{ event.title_event_kz|truncatechars:30 }}
                                    {% elif LANGUAGE_CODE == 'en' %}
                                        {{ event.title_event_en|truncatechars:30 }}
                                    {% endif %}
                                </h6>
                                <p class="services__events-slide-location">{{ event.location }}</p>
                                <p class="services__events-slide-date">{{ event.date_change|date:"l d F" }}</p>
                                <p class="services__events-slide-time">{{ event.start_time }}
                                    - {{ event.end_time }}</p>
                                <p class="services__events-slide-desc tooltip">
                                    {% if LANGUAGE_CODE == 'ru' %}
                                        {{ event.content_event_ru }}
                                    {% elif LANGUAGE_CODE == 'kk' %}
                                        {{ event.content_event_kz }}
                                    {% elif LANGUAGE_CODE == 'en' %}
                                        {{ event.content_event_en }}
                                    {% endif %}
                                </p>
                            </div> <!-- CONTENT -->
                        </div> <!-- SLLIDE ROW -->
                    </div> <!-- /SLIDE -->
                </div> <!-- /SLIDE -->
            {% endfor %}
        </div> <!-- /SWIPER WRAPER -->
        <!-- PAGINATION -->
        <div class="swiper-button-prev">
            <img src="{% static 'img/services/arrow-left.svg' %}" alt="Previous Slide">
        </div>
        <div class="swiper-button-next">
            <img src="{% static 'img/services/arrow-right.svg' %}" alt="Next Slide">
        </div>

    </div> <!-- ROW -->
</div>