{% load static %}
<div class="services__action services__events" data-sr-id="14" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: box-shadow 0.2s, opacity 1.4s cubic-bezier(0.5, 0, 0, 1) 0.2s, transform 1.4s cubic-bezier(0.5, 0, 0, 1) 0.2s;">
	<div class="services__events-row">
		<div class="services__events-swiper swiper-initialized swiper-horizontal swiper-backface-hidden">
			<div class="swiper-wrapper" id="swiper-wrapper-5d9b648fb3bed1109" aria-live="polite">

				<div class="swiper-slide swiper-slide-active" style="width: 626px;" role="group" aria-label="1 / 2">
					<div class="services__events-slide-row">
						<div class="services__events-slide-image">
							<img src="{% static 'img/services/events-image.jpg' %}" alt="Event">
							<div class="services__events-slide-shadow"></div>
						</div>
						<div class="services__events-slide-content">
							<h6 class="services__events-slide-title">
								Квиз “Литература”
							</h6>
							<p class="services__events-slide-location">Актовый зал</p>
							<p class="services__events-slide-date">Понедельник 20 июня</p>
							<p class="services__events-slide-time">13:00 - 14:00</p>
							<p class="services__events-slide-desc">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, nulla. Nemo, laudantium itaque
								quas consequatur expedita veniam, quaerat a dolore, nobis neque ad molestiae totam nesciunt voluptatibus
								architecto dolor. Sapiente.
							</p>
						</div> <!-- CONTENT -->
					</div> <!-- SLLIDE ROW -->
				</div> <!-- /SLIDE -->

			</div> <!-- /SWIPER WRAPER -->
			<!-- PAGINATION -->
			<div class="swiper-button-prev services__events-arrow swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-5d9b648fb3bed1109" aria-disabled="true">
				<img src="{%  static 'img/hero/arrow-prev.svg' %}" alt="Arrow Prev">
			</div>
			<div class="swiper-button-next services__events-arrow" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-5d9b648fb3bed1109" aria-disabled="false">
				<img src="{%  static 'img/hero/arrow-next.svg' %}" alt="Arrow Next">
			</div>
			<!-- /PAGINATION -->
		<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div> <!-- /SERVICES SWIPER	-->
	</div> <!-- ROW -->
</div>