{% load i18n %}
{% load static %}

<div class="service-item course">

    <div class="swiper-container-courses swiper">
        <div class="swiper-wrapper">

            {% for course in courses %}
                <div class="swiper-slide">
                    <a href="{{ course.url }}" class="tag-all">{% trans 'registration-for-courses' %}</a>
                    <a href="{{ course.url }}">
                        <img src="{{ course.image.url }}"
                             alt="{% if LANGUAGE_CODE == 'ru' %} {{ course.course_title_ru }} {% elif LANGUAGE_CODE == 'kk' %}{{ course.course_title_kz }}{% elif LANGUAGE_CODE == 'en' %}{{ course.course_title_en }}{% endif %}"
                             class="course-image">
                        <div class="course-content">
                            <h5>
                                {% if LANGUAGE_CODE == 'ru' %}
                                    {{ course.course_title_ru }}
                                {% elif LANGUAGE_CODE == 'kk' %}
                                    {{ course.course_title_kz }}
                                {% elif LANGUAGE_CODE == 'en' %}
                                    {{ course.course_title_en }}
                                {% endif %}
                            </h5>
                        </div>
                    </a>


                </div>
            {% endfor %}

        </div>
        <div class="swiper-button-prev">
            <img src="{% static 'img/services/arrow-left.svg' %}" alt="Previous Slide">
        </div>
        <div class="swiper-button-next">
            <img src="{% static 'img/services/arrow-right.svg' %}" alt="Next Slide">
        </div>
    </div>
</div>