<div class="services__action services__events">
	<div class="services__events-row">
		<div class="services__events-swiper">
			<div class="swiper-wrapper">

				<div class="swiper-slide">
					<div class="services__events-slide-row">
						<div class="services__events-slide-image">
							<img src="./img/services/events-image.jpg" alt="Event" />
							<div class="services__events-slide-shadow"></div>
						</div>
						<div class="services__events-slide-content">
							<h6 class="services__events-slide-title">
								Квиз “Литература”
							</h6>
							<p class="services__events-slide-location">Актовый зал</p>
							<p class="services__events-slide-date">Понедельник 20 июня</p>
							<p class="services__events-slide-time">13:00 - 14:00</p>
							<p class="services__events-slide-desc">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, nulla. Nemo, laudantium itaque
								quas consequatur expedita veniam, quaerat a dolore, nobis neque ad molestiae totam nesciunt voluptatibus
								architecto dolor. Sapiente.
							</p>
						</div> <!-- CONTENT -->
					</div> <!-- SLLIDE ROW -->
				</div> <!-- /SLIDE -->

				<div class="swiper-slide">
					<div class="services__events-slide-row">
						<div class="services__events-slide-image">
							<img src="./img/services/events-image.jpg" alt="Event" />
							<div class="services__events-slide-shadow"></div>
						</div>
						<div class="services__events-slide-content">
							<h6 class="services__events-slide-title">
								Квиз “Литература”
							</h6>
							<p class="services__events-slide-location">Актовый зал</p>
							<p class="services__events-slide-date">Понедельник 20 июня</p>
							<p class="services__events-slide-time">13:00 - 14:00</p>
							<p class="services__events-slide-desc">
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, nulla. Nemo, laudantium itaque
								quas consequatur expedita veniam, quaerat a dolore, nobis neque ad molestiae totam nesciunt voluptatibus
								architecto dolor. Sapiente.
							</p>
						</div> <!-- CONTENT -->
					</div> <!-- SLLIDE ROW -->
				</div> <!-- /SLIDE -->

			</div> <!-- /SWIPER WRAPER -->
			<!-- PAGINATION -->
			<div class="swiper-button-prev services__events-arrow">
				<img src="./img/hero/arrow-prev.svg" alt="Arrow Prev">
			</div>
			<div class="swiper-button-next services__events-arrow">
				<img src="./img/hero/arrow-next.svg" alt="Arrow Next">
			</div>
			<!-- /PAGINATION -->
		</div> <!-- /SERVICES SWIPER	-->
	</div> <!-- ROW -->
</div>
