<div class="services__action services__courses">
	<div class="services__courses-swiper">
		<div class="swiper-wrapper">

			<div class="swiper-slide">
				<img src="./img/services/courses-image.jpg" alt="Courses Image" />
				<h6 class="services__courses-title">Курсы</h6>
				<p class="services__сourses-desc">3D Моделирование</p>
				<a class="services__courses-link" href='#!'>Записаться</a>
			</div>

			<div class="swiper-slide">
				<img src="./img/services/courses-image.jpg" alt="Courses Image" />
				<h6 class="services__courses-title">Курсы</h6>
				<p class="services__сourses-desc">3D Моделирование</p>
				<a class="services__courses-link" href='#!'>Записаться</a>
			</div>

		</div> <!-- /SWIPER-WRAPPER -->
		<div class="swiper-button-prev services__arrow">
			<img src="./img/services/arrow-left.svg" alt="Arrow Prev">
		</div> <!-- /NEXT -->
		<div class="swiper-button-next services__arrow">
			<img src="./img/services/arrow-right.svg" alt="Arrow Next">
		</div> <!-- /PREV -->
	</div> <!-- SWIPER -->
</div>