<div class="services__action services__time">

	<div class="services__time-item">
		<h6 class="services__time-num" id='services-current-time'>08:00</h6>
		<p class="services__time-text" id='services-current-date'>Среда 30 апреля</p>
	</div>

	<div class="services__time-item">
		<h6 class="services__time-num">08:00 - 19:00</h6>
		<p class="services__time-text">График работы</p>
	</div>

	<div class="services__time-item">
		<h6 class="services__time-num" id='services-close-time'>01:00:20</h6>
		<p class="services__time-text">До <span id='services-open-close'>закрытия</span> библиотеки</p>
	</div>

</div> <!-- /TIME -->