{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load split_paragraphs %}
{% load tz %}
{% load humanize %}

{% block content_css %}

    <link rel="stylesheet" href="{% static 'css/blog-details-news.css' %}"/>
{% endblock %}

{% block content_js %}

    <script src="{% static 'js/news-swiper.js' %}"></script>
{% endblock %}

{% block content %}


    <section id="blog-details-news" class="blog-details-news section">
        <div class="container">

            <article class="article">

                <div class="post-img swiper-container-news swiper">

                    <div class="swiper-wrapper">

                        <div class="swiper-slide ">
                            <img src="{{ news_item.main_image.url }}" alt="" class="img-fluid">
                        </div>
                        {% for item in news_images %}
                            <div class="swiper-slide ">
                                <img src="{{ item.image.url }}" alt="" class="img-fluid">
                            </div>
                        {% endfor %}

                    </div>
                        <!-- Add Arrows -->
                        <!-- Кнопки навигации -->
                        <div class="swiper-button-prev">
                            <img src="{% static 'img/services/arrow-left.svg' %}" alt="Previous Slide">
                        </div>
                        <div class="swiper-button-next">
                            <img src="{% static 'img/services/arrow-right.svg' %}" alt="Next Slide">
                        </div>
                </div>

                <h2 class="title">{% if LANGUAGE_CODE == 'ru' %}
                    {{ news_item.title_ru }}
                {% elif LANGUAGE_CODE == 'kk' %}
                    {{ news_item.title_kz }}
                {% else %}
                    {{ news_item.title_en }}
                {% endif %}</h2>

                <div class="meta-top">
                    <ul>
                        <li class="d-flex align-items-center"><i class="bi bi-clock"></i>
                            <time datetime="{{ news_item.pub_date|date:'Y-m-d' }}">
                                {{ news_item.pub_date|date:'M d, Y' }}
                            </time>
                        </li>

                    </ul>
                </div><!-- End meta top -->

                <div class="content">
                    {% if LANGUAGE_CODE == 'ru' %}
                        {{ news_item.content_ru|split_paragraphs|safe }}
                    {% elif LANGUAGE_CODE == 'kk' %}
                        {{ news_item.content_kz|split_paragraphs|safe }}
                    {% else %}
                        {{ news_item.content_eng|split_paragraphs|safe }}
                    {% endif %}
                </div><!-- End post content -->


            </article>

        </div>

    </section><!-- /Blog Details Section -->



{% endblock %}
