{% extends 'base.html' %}
{% load static %}
<!-- templates/news_list.html -->

{% block content_css %}

    <link rel="stylesheet" href="{% static 'css/news.css' %}"/>
{% endblock %}
{% block content %}
    <h1>Новости</h1>


    <div class="container-news">
        {% for news_item in news %}
            <div class="card-news">
                {% if news_item.main_image %}
                    <div class="card-header-news">
                    <img src="{{ news_item.main_image.url }}" alt="
                 {% if LANGUAGE_CODE == 'ru' %}
                    {{ news_item.title_ru }}
                {% elif LANGUAGE_CODE == 'kk' %}
                    {{ news_item.title_kz }}
                {% else %}
                    {{ news_item.title_en }}
                {% endif %}" class="card-image-news">
                {% endif %}
                </div>
                <div class="card-body-news">
                    <h5>

                        {% if LANGUAGE_CODE == 'ru' %}
                            {{ news_item.title_ru }}
                        {% elif LANGUAGE_CODE == 'kk' %}
                            {{ news_item.title_kz }}
                        {% else %}
                            {{ news_item.title_en }}
                        {% endif %}
                    </h5>

                    <p>
                        {% if LANGUAGE_CODE == 'ru' %}
                            {{ news_item.content_ru|truncatewords:20 }}
                        {% elif LANGUAGE_CODE == 'kz' %}
                            {{ news_item.content_kz|truncatewords:20 }}
                        {% else %}
                            {{ news_item.content_eng|truncatewords:20 }}
                        {% endif %}
                    </p>
                </div>
                <div class="card-footer-button-news">
                    <a href="{% url 'news_detail' slug=news_item.slug %}">
                        <button>читать далее</button>
                    </a>
                </div>
                {#                        Опубликовано: {{ news_item.pub_date|date:"d M Y" }}#}

            </div>

        {% endfor %}
    </div>
{% endblock %}
