{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ news_item.title }}</h5>
            {% if news_item.main_image %}
            <img src="{{ news_item.main_image.url }}" class="card-img-top" alt="{{ news_item.title }}">
            {% endif %}
            <p class="card-text">
                {% if LANGUAGE_CODE == 'ru' %}
                    {{ news_item.content_ru }}
                {% elif LANGUAGE_CODE == 'kk' %}
                    {{ news_item.content_kz }}
                {% elif LANGUAGE_CODE == 'en' %}
                    {{ news_item.content_eng }}
                {% else %}
                    {{ news_item.content_ru }}
                {% endif %}
            </p>

        </div>
    </div>
</div>
{% endblock %}
