{% extends 'base.html' %}
{% load i18n %}
{% load static %}
<!-- templates/news_list.html -->

{% block content_css %}

    <link rel="stylesheet" href="{% static 'css/blog-posts.css' %}"/>
    
{% endblock %}

{% block content %}

    <section id="blog-posts" class="blog-posts section">

        <div class="container">
            <div class="row gy-4">

                {% for news_item in news %}

                    <div class="col-lg-4">
                        <article>

                            <div class="post-img">
                                <img src="{{ news_item.main_image.url }}" alt=" {% if LANGUAGE_CODE == 'ru' %}
                    {{ news_item.title_ru }}
                {% elif LANGUAGE_CODE == 'kk' %}
                    {{ news_item.title_kz }}
                {% else %}
                    {{ news_item.title_en }}
                {% endif %}" class="img-fluid">
                            </div>

                            <h2 class="title">
                                <a href="{% url 'news_detail' slug=news_item.slug %}">{% if LANGUAGE_CODE == 'ru' %}
                    {{ news_item.title_ru }}
                {% elif LANGUAGE_CODE == 'kk' %}
                    {{ news_item.title_kz }}
                {% else %}
                    {{ news_item.title_en }}
                {% endif %}</a>
                            </h2>

                            <div class="d-flex align-items-center">
                                <p>{% if LANGUAGE_CODE == 'ru' %}
                    {{ news_item.content_ru|slice:":100" }}
                {% elif LANGUAGE_CODE == 'kk' %}
                    {{ news_item.content_kz|slice:":100" }}
                {% else %}
                    {{ news_item.content_eng|slice:":100" }}
                {% endif %}</p>
                            </div>

                        </article>
                    </div><!-- End post list item -->

                {% endfor %}

            </div>
        </div>

    </section><!-- /Blog Posts Section -->

{% endblock %}

<div class="news__picture">
    <div class="container">

        <div class="news__picture-text">
            <!-- TITLE -->
            <div class="news__title title-wrapper">
                <div class="title-line"></div>
                <h1 class="title" data-sr-id="0"
                    style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: all, opacity 0.8s cubic-bezier(0.5, 0, 0, 1), transform 0.8s cubic-bezier(0.5, 0, 0, 1);">
                    {% trans 'news' %}</h1>
            </div> <!-- TITLE -->
            <p class="news__nav" data-sr-id="2"
               style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: all, opacity 0.9s cubic-bezier(0.5, 0, 0, 1), transform 0.9s cubic-bezier(0.5, 0, 0, 1);">
                <a href="/">{% trans 'home' %}</a> &gt; <strong>{% trans 'news' %}</strong></p>
        </div> <!-- /TEXT WRAPPER -->
    </div> <!-- /CONTAINER -->
    
    {% include 'news-pagination.html' %}
</div> <!-- /PICTURE -->
