{% load static %}
<div class="news__pagination news__pagination--bottom">
    {% if news.has_previous %}
        <button class="news__pagination-btn arrow-left" onclick="location.href='?page={{ news.previous_page_number }}'">
            <img src="{% static 'img/hero/arrow-prev.svg' %}" alt="Arrow Left">
        </button>
    {% endif %}

    <div class="news__pagination-page-btns">
        {% for num in news.paginator.page_range %}
            {% if news.number == num %}
                <button class="news__pagination-page active">{{ num }}</button>
            {% else %}
                <button class="news__pagination-page" onclick="location.href='?page={{ num }}'">{{ num }}</button>
            {% endif %}
        {% endfor %}
    </div>

    {% if news.has_next %}
        <button class="news__pagination-btn arrow-right" onclick="location.href='?page={{ news.next_page_number }}'">
            <img src="{% static 'img/hero/arrow-next.svg' %}" alt="Arrow Right">
        </button>
    {% endif %}
</div>