.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow-y: hidden;
}

.title {
	font-weight: 800;
	font-size: 30px;
	line-height: 133%;
	color: var(--gray-color);
	padding-left: 15px;
	border-left: 5px solid var(--secondary-color);
}
