.none {
	display: none !important;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow: hidden;
}

.title-wrapper {
	display: flex;
	align-items: center;
	gap: 15px;
}

.title-line {
	height: 30px;
	width: 5px;
	background-color: var(--secondary-color);
	@media (max-width: $tablet-landscape) {
		height: 22px;
	}
	@media (max-width: $tablet-portrait) {
		height: 18px;
	}
}
.title {
	font-weight: 800;
	font-size: 30px;
	line-height: 133%;
	color: var(--gray-color);
	@media (max-width: $tablet-landscape) {
		font-size: 22px;
	}
	@media (max-width: $tablet-portrait) {
		font-size: 18px;
	}
}

.main {
	margin-bottom: 130px;
	@media (max-width: $tablet-portrait) {
		margin-bottom: 85px;
	}
}
