:root {
	--container-width: 1310px;
	--container-padding: 15px;

	--font-main: 'Montserrat', sans-serif;

	--gray-color: #958c9b;
	--gray-tint-color: #575b80;
	--general-color: #258b58;
	--secondary-color: #f9bd4d;
	--alternative-color: #851a5e;
	--white-color: #fdfcfc;
	--black-color: #182a64;
	--general-tint-color: #1c6543;
	--general-tint-2-color: #21784e;

	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

.dark {
	--page-bg: #252526;
	--text-color: #fff;
}

// Adaptive
$small-mobile: 320px;
$medium-mobile: 481px;
$large-mobile: 768px;
$tablet-portrait: 768px;
$tablet-landscape: 1025px;
$small-desktop: 1280px;
$large-desktop: 1367px;
// Additional
$iphone-se: 376px;
