{% load i18n %}
{% load static %}


<section class="catalog">
    <div class="container">
        <div class="catalog__row">
            <div class="catalog__title title">{% trans 'new-items' %}</div>

            <div class="catalog__bookcards">

                <div class="catalog__bookcard">
                    <div class="catalog__bookcard-image">
                        <img src="{% static 'img/catalog/book-image.jpg' %}" alt="Book Image">
                    </div> <!-- /IMAGE -->
                    <div class="catalog__bookcard-contetnt">
                        <h6 class="catalog__bookcard-title">2012 жылғы ақпан мен 2023 жылғы қараша аралығындағы</h6>
                        <div class="catalog__bookcard-text-container">
                            <p class="catalog__bookcard-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis maxime explicabo
                                provident exercitationem
                                eligendi tempora magni quae labore quam culpa temporibus accusamus quia placeat
                                expedita, nulla iure
                                facilis eius quasi.
                                Quasi est enim, optio distinctio quam, ut neque, libero commodi iure omnis maxime beatae
                                dolorem totam
                                aperiam. Ipsa fuga ab facere sequi labore sapiente, repellat culpa, ullam eveniet
                                numquam voluptate.
                                Odio nemo fugit necessitatibus unde quasi ad doloremque. Reiciendis exercitationem eius
                                dicta, sed optio
                                praesentium dolore minima incidunt facilis repellat consequuntur ducimus et sunt nihil
                                ea fugit sequi
                                facere perspiciatis.
                                Sed provident eum ad nam ipsa a dignissimos nisi magni animi commodi similique
                                laboriosam, laborum porro
                                nesciunt numquam, atque rerum sequi minus error eaque aut delectus. Quis voluptas nulla
                                quod.
                            </p>
                        </div>
                    </div>
                    <a href="#!" class="catalog__bookcard-link">Читать</a>
                </div> <!-- /BOOKCARD -->

                <div class="catalog__bookcard">
                    <div class="catalog__bookcard-image">
                        <img src="{% static 'img/catalog/book-image.jpg' %}" alt="Book Image">
                    </div> <!-- /IMAGE -->
                    <div class="catalog__bookcard-contetnt">
                        <h6 class="catalog__bookcard-title">2012 жылғы ақпан мен 2023 жылғы қараша аралығындағы</h6>
                        <div class="catalog__bookcard-text-container">
                            <p class="catalog__bookcard-text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis maxime explicabo
                            </p>
                        </div>
                    </div>
                    <a href="#!" class="catalog__bookcard-link">Читать</a>
                </div> <!-- /BOOKCARD -->

                <div class="catalog__bookcard">
                    <div class="catalog__bookcard-image">
                        <img src="{% static 'img/catalog/book-image.jpg' %}" alt="Book Image">
                    </div> <!-- /IMAGE -->
                    <div class="catalog__bookcard-contetnt">
                        <h6 class="catalog__bookcard-title">2012 жылғы ақпан мен 2023 жылғы қараша аралығындағы</h6>
                        <div class="catalog__bookcard-text-container"><p class="catalog__bookcard-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis maxime explicabo provident
                            exercitationem
                            eligendi tempora magni quae labore quam culpa temporibus accusamus quia placeat expedita,
                            nulla iure
                            facilis eius quasi.
                            Quasi est enim, optio distinctio quam, ut neque, libero commodi iure omnis maxime beatae
                            dolorem totam
                            aperiam. Ipsa fuga ab facere sequi labore sapiente, repellat culpa, ullam eveniet numquam
                            voluptate.
                            Odio nemo fugit necessitatibus unde quasi ad doloremque. Reiciendis exercitationem eius
                            dicta, sed optio
                            praesentium dolore minima incidunt facilis repellat consequuntur ducimus et sunt nihil ea
                            fugit sequi
                            facere perspiciatis.
                            Sed provident eum ad nam ipsa a dignissimos nisi magni animi commodi similique laboriosam,
                            laborum porro
                            nesciunt numquam, atque rerum sequi minus error eaque aut delectus. Quis voluptas nulla
                            quod.
                        </p>
                        </div>
                    </div>
                    <a href="#!" class="catalog__bookcard-link">Читать</a>
                </div> <!-- /BOOKCARD -->

                <div class="catalog__bookcard">
                    <div class="catalog__bookcard-image">
                        <img src="{% static 'img/catalog/book-image.jpg' %}" alt="Book Image">
                    </div> <!-- /IMAGE -->
                    <div class="catalog__bookcard-contetnt">
                        <h6 class="catalog__bookcard-title">2012 жылғы ақпан мен 2023 жылғы қараша аралығындағы</h6>
                        <div class="catalog__bookcard-text-container"><p class="catalog__bookcard-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis maxime explicabo provident
                            exercitationem
                            eligendi tempora magni quae labore quam culpa temporibus accusamus quia placeat expedita,
                            nulla iure
                            facilis eius quasi.
                            Quasi est enim, optio distinctio quam, ut neque, libero commodi iure omnis maxime beatae
                            dolorem totam
                            aperiam. Ipsa fuga ab facere sequi labore sapiente, repellat culpa, ullam eveniet numquam
                            voluptate.
                            Odio nemo fugit necessitatibus unde quasi ad doloremque. Reiciendis exercitationem eius
                            dicta, sed optio
                            praesentium dolore minima incidunt facilis repellat consequuntur ducimus et sunt nihil ea
                            fugit sequi
                            facere perspiciatis.
                            Sed provident eum ad nam ipsa a dignissimos nisi magni animi commodi similique laboriosam,
                            laborum porro
                            nesciunt numquam, atque rerum sequi minus error eaque aut delectus. Quis voluptas nulla
                            quod.
                        </p>
                        </div>
                    </div>
                    <a href="#!" class="catalog__bookcard-link">{% trans 'read' %}</a>
                </div> <!-- /BOOKCARD -->

            </div> <!-- /BOOKCARDS -->

            <div class="catalog__bookcard-wrapper">
                <a href="#!" class="catalog__bookcard-btn">{% trans 'go-to-catalog' %}</a>
            </div>


        </div> <!-- /ROW -->
    </div> <!-- /CONTAINER -->
</section>