{% load i18n %}
{% load static %}



<section class="catalog">
    <div class="container">
        <div class="catalog__row">
            <div class="catalog__title title-wrapper">
                <div class="title-line"></div>
                <h3 class="title">{% trans 'new-items' %}</h3>
            </div> <!-- TITLE -->
            <div class="catalog__bookcards">

                {% for item in new_books %}


                    <div class="catalog__bookcard">
                        <div class="catalog__bookcard-image">
                            <img src="{{ item.cover.url }}" alt="Book Image">
                        </div> <!-- /IMAGE -->
                        <div class="catalog__bookcard-contetnt">
                            <h6 class="catalog__bookcard-title">{{ item.title }} - {{ item.author }}</h6>
                            <div class="catalog__bookcard-text-container">
                                <p class="catalog__bookcard-text">
                                    {{ item.description }}
                                </p>
                            </div>
                        </div>
                        <a href="{{ item.link_to_read }}" class="catalog__bookcard-link">{% trans 'read' %}</a>
                    </div> <!-- /BOOKCARD -->

                {% endfor %}

            </div> <!-- /BOOKCARDS -->

            <div class="catalog__bookcard-wrapper">
                <a href="#" class="catalog__bookcard-btn">{% trans 'go-to-catalog' %}</a>
            </div>


        </div> <!-- /ROW -->
    </div> <!-- /CONTAINER -->
</section>
