{% load static %}
<section id="featured-services" class="featured-services section">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item item-cyan position-relative">
                    <div class="icon">
                        <img src="{% static 'img/hero/abai-icon.svg' %}" alt="abai" class="bi"/>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>Наш Абай</h3>
                    </a>
                    <p>Весы — дело жизни нашего коллектива. Мы радеем за качество 14 лет и ревностно бьемся с
                        повсеместной халтурой.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                <div class="service-item item-orange position-relative">
                    <div class="icon">
                        <i class="bi bi-broadcast"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>Сверхточность</h3>
                    </a>
                    <p>Метрологические характеристики наших весов зачастую превосходят нормы ГОСТа РК.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                <div class="service-item item-teal position-relative">
                    <div class="icon">
                        <i class="bi bi-easel"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>Оптом дешевле</h3>
                    </a>
                    <p>При заказе 2-х и более весов гарантированная скидка от 5% до 15%.</p>
                </div>
            </div><!-- End Service Item -->

            <div class="col-lg-3 col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                <div class="service-item item-red position-relative">
                    <div class="icon">
                        <i class="bi bi-bounding-box-circles"></i>
                    </div>
                    <a href="service-details.html" class="stretched-link">
                        <h3>Есть склад </h3>
                    </a>
                    <p>Постоянное наличие необходимых запчастей и комплектующих для всего деопазона весовых систем.</p>
                </div>
            </div><!-- End Service Item -->
        </div>

    </div>

</section>