{% load i18n %}
{% load static %}

<section class='hero'>
    <div class="container">
        <div class="hero__row">
            <!-- SWIPER -->
            <div class="hero__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="{% static 'img/hero/photo_summer.jpg' %}" alt="Library Summer">
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'img/hero/photo_summer.jpg' %}" alt="Library Summer">
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'img/hero/photo_summer.jpg' %}" alt="Library Summer">
                    </div>
                    <div class="swiper-slide">
                        <img src="{% static 'img/hero/photo_summer.jpg' %}" alt="Library Summer">
                    </div>
                </div> <!-- SWIPER WRAPPER -->
                <!-- PAGINATION -->
                <div class="swiper-button-prev hero__arrow">
                    <img src="{% static 'img/hero/arrow-prev.svg' %}" alt="Arrow Prev">
                </div>
                <div class="swiper-button-next hero__arrow">
                    <img src="{% static 'img/hero/arrow-next.svg' %}" alt="Arrow Next">
                </div>
                <!-- /PAGINATION -->
            </div> <!-- /SWIPER -->
            <!-- SWIPER -->
            <h1 class='hero__title'>{% trans 'library-title' %}</h1>
            <div class="hero__socials">
                <a class='hero__social' href='#!'><img src="{% static 'img/hero/2gis-logo.svg' %}"
                                                       alt="2GIS"></a>
                <a class='hero__social' href='#!'><img src="{% static 'img/hero/vk-logo.svg' %}"
                                                       alt="VKontakte"></a>
                <a class='hero__social' href='#!'><img src="{% static 'img/hero/whatsapp-logo.svg' %}"
                                                       alt="WhatsApp"></a>
                <a class='hero__social' href='#!'><img src="{% static 'img/hero/instagram-logo.svg' %}"
                                                       alt="Instagram"></a>
                <a class='hero__social' href='#!'><img src="{% static 'img/hero/facebook-logo.svg' %}"
                                                       alt="Facebook"></a>
                <a class='hero__social' href='#!'><img src="{% static 'img/hero/youtube-logo.svg' %}"
                                                       alt="YouTube"></a>
                <a class='hero__social' href='#!'><img src="{% static 'img/hero/x-logo.svg' %}" alt="X Twitter"></a>
            </div> <!-- /SOCIALS -->
        </div> <!-- /ROW -->
        <div class="hero__line"></div>
        <div class="hero__links">
            <!-- 01 -->
            <div class="hero__link">
                <a href="#!">
                    <div class="hero__link-frame hero__link-frame-1" data-text="{% trans 'our-abai' %}">
                        <img class='hero__link-img' src="{% static 'img/hero/abai-icon.svg' %}" alt="Abai">
                    </div>
                </a>
            </div>
            <!-- 02 -->
            <div class="hero__link">
                <a href="#!">
                    <div class="hero__link-frame hero__link-frame-2" data-text="{% trans 'local-history' %}">
                        <img class='hero__link-img' src="{% static 'img/hero/map-icon.svg' %}" alt="Abai">
                    </div>
                </a>
            </div>
            <!-- 03 -->
            <div class="hero__link">
                <a href="#!">
                    <div class="hero__link-frame hero__link-frame-3"
                         data-text="{% trans 'east-kazakhstan-region-famous-places' %}">
                        <img class='hero__link-img' src="{% static 'img/hero/mountain-icon.svg' %}" alt="Abai">
                    </div>
                </a>
            </div>
            <!-- 04 -->
            <div class="hero__link">
                <a href="#!">
                    <div class="hero__link-frame hero__link-frame-4"
                         data-text="{% trans 'east-kazakhstan-region-legends-and-tales' %}">
                        <img class='hero__link-img' src="{% static 'img/hero/feather-icon.svg' %}" alt="Abai">
                    </div>
                </a>
            </div>
        </div> <!-- /LINKS -->
    </div> <!-- /CONTAINER -->
</section>