{% load i18n %}
{% load static %}


<section id="tour" class="tour section light-background">
    <div class="container aos-init aos-animate" data-aos="fade-up">
        <h3 class="title">{% trans 'library-tour' %}</h3>
        <!-- Левый список -->

        <div class="row">
            <div class="col-md-3">
                <ul class="tour-list" id="room-list">
                    <li class="list-group-item active" data-room="foyer">{% trans 'foyer' %}</li>
                    <li class="list-group-item" data-room="children-sector">{% trans 'children-sector' %}</li>
                    <li class="list-group-item" data-room="school-of-masters">{% trans 'school-of-masters' %}</li>
                    <li class="list-group-item" data-room="robotics-room">{% trans 'robotics-room' %}</li>
                    <li class="list-group-item" data-room="it-center">{% trans 'it-center' %}</li>
                    <li class="list-group-item" data-room="american-corner">{% trans 'american-corner' %}</li>
                    <li class="list-group-item" data-room="maker-space">{% trans 'maker-space' %}</li>
                    <!-- Добавь больше пунктов если нужно -->
                </ul>
            </div>

            <!-- Правая часть с картинками -->
            <div class="col-md-9">
                <div class="row" id="gallery">
                    <!-- Первое изображение: занимает два ряда в первом столбце -->
                    <div class="col-md-4">
                        <img src="/static/img/tour/tour-lobby-1.jpg" alt="Фойе 1" class="img-fluid img-large"/>
                    </div>

                    <!-- Второе и третье изображение: два разных ряда во втором столбце -->
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <img src="/static/img/tour/tour-lobby-2.jpg" alt="Фойе 2" class="img-fluid"/>
                            </div>
                            <div class="col-12">
                                <img src="/static/img/tour/tour-lobby-3.jpg" alt="Фойе 3" class="img-fluid"/>
                            </div>
                        </div>
                    </div>

                    <!-- Четвертое изображение: занимает два ряда в третьем столбце -->
                    <div class="col-md-4">
                        <img src="/static/img/tour/tour-lobby-4.jpg" alt="Фойе 4" class="img-fluid img-tall"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

</script>