{% load i18n %}
{% load static %}

<section id="services" class="services section light-background">
    <div class="container grid-container">
        <!-- Новости -->
        {% include 'services/service-news.html' %}


        <!-- Время -->
        {% include 'services/service-time.html' %}

        <!-- Dosai -->
        {% include 'services/service-ai-chat.html' %}
        
        <!-- Services_s -->
        {% include 'services/service-action.html' %}

        <!-- Курсы -->
        {% include 'services/service-course.html' %}

        <!-- События -->
        {% include 'services/service-events.html' %}
    </div>
</section>

