{% load i18n %}
{% load static %}

<section class="services">
    <div class="container">
        <div class="services__row">


            {% include 'services/service-time.html' %}
            {% include 'services/service-news.html' %}

            {% include 'services/service-ai-chat.html' %}
            {% include 'services/service-action.html' %}


            {% include 'services/service-events.html' %}
            {% include 'services/service-course.html' %}


        </div>
    </div>
</section>
