{% load i18n %}
{% load static %}


{% comment %}<section class="tour">
    <div class="container">
        <div class="tour__row">
            <h3 class="tour__title title">{% trans 'library-tour' %}</h3>
            <div class="tour__box">
                <div class="tour__list">

                    <div class="tour__swiper">

                        <div class="swiper-wrapper">
                            <div class="swiper-slide tour__location active" id='tour-lobby'>{% trans 'foyer' %}</div>
                            <div class="swiper-slide tour__location"
                                 id='tour-childrens-room'>{% trans 'children-sector' %}</div>
                            <div class="swiper-slide tour__location">{% trans 'school-of-masters' %}</div>
                            <div class="swiper-slide tour__location">{% trans 'robotics-room' %}</div>
                            <div class="swiper-slide tour__location">{% trans 'it-center' %}</div>
                            <div class="swiper-slide tour__location">{% trans 'american-corner' %}</div>
                            <div class="swiper-slide tour__location">{% trans 'maker-space' %}</div>
                            <div class="swiper-slide tour__location">{% trans 'foyer-8' %}</div>
                            <div class="swiper-slide tour__location">{% trans 'foyer-9' %}</div>
                        </div> <!-- /SWIPER WRAPER -->
                        <!-- PAGINATION -->
                        <div class="swiper-button-prev tour__arrow">
                            <img src="{% static 'img/hero/arrow-prev.svg' %}" alt="Arrow Prev">
                        </div>
                        <div class="swiper-button-next tour__arrow">
                            <img src="{% static 'img/hero/arrow-prev.svg' %}" alt="Arrow Next">
                        </div>
                        <!-- /PAGINATION -->
                    </div> <!-- /TOUR SWIPER -->
                </div> <!-- №LIST -->

                <div class="tour__images">
                    <div class="tour__image tour__image-1">
                        <img class='tour__image-picture' src="{% static 'img/tour/tour-lobby-1.jpg' %}"
                             alt="Фото фойе 1">
                    </div>
                    <div class="tour__image tour__image-2">
                        <img class='tour__image-picture' src="{% static 'img/tour/tour-lobby-2.jpg' %}"
                             alt="Фото фойе 2">
                    </div>
                    <div class="tour__image tour__image-3">
                        <img class='tour__image-picture' src="{% static 'img/tour/tour-lobby-3.jpg' %}"
                             alt="Фото фойе 3">
                    </div>
                    <div class="tour__image tour__image-4">
                        <img class='tour__image-picture' src="{% static 'img/tour/tour-lobby-4.jpg' %}"
                             alt="Фото фойе 4">
                    </div>
                    <a href="#!" class="tour__virtual-tour">
                        {% trans 'virtual-tour' %} <span>+</span>
                    </a>
                </div> <!-- /IMAGES -->
            </div> <!-- /BOX -->
        </div> <!-- /ROW -->
    </div>
</section>{% endcomment %}


<section class="tour">
    <div class="container">
        <div class="tour__row">
            <!-- TITLE -->
            <div class="tour__title title-wrapper">
                <div class="title-line"></div>
                <h3 class="title" data-sr-id="16"
                    style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: all, opacity 0.8s cubic-bezier(0.5, 0, 0, 1), transform 0.8s cubic-bezier(0.5, 0, 0, 1);">{% trans 'library-tour' %}</h3>
            </div> <!-- TITLE -->
            <div class="tour__box">
                <div class="tour__list">

                    <div class="tour__swiper swiper-initialized swiper-vertical swiper-backface-hidden">
                        <div class="swiper-wrapper" id="swiper-wrapper-d9c5947dda6362e9" aria-live="polite">
                            <div class="swiper-slide tour__location active swiper-slide-active" id="tour-lobby"
                                 style="height: 69.5714px;" role="group" aria-label="1 / 7">{% trans 'foyer' %}
                            </div>
                            <div class="swiper-slide tour__location swiper-slide-next" id="tour-childrens-room"
                                 style="height: 69.5714px;" role="group" aria-label="2 / 7">{% trans 'children-sector' %}</div>
                            <div class="swiper-slide tour__location" id="tour-masters-school" style="height: 69.5714px;"
                                 role="group" aria-label="3 / 7">{% trans 'school-of-masters' %}
                            </div>
                            <div class="swiper-slide tour__location" id="tour-gym-room" style="height: 69.5714px;"
                                 role="group" aria-label="4 / 7">{% trans 'robotics-room' %}</div>
                            <div class="swiper-slide tour__location" id="tour-it-center" style="height: 69.5714px;"
                                 role="group" aria-label="5 / 7">{% trans 'it-center' %}</div>
                            <div class="swiper-slide tour__location" id="tour-american-corner"
                                 style="height: 69.5714px;" role="group" aria-label="6 / 7">{% trans 'american-corner' %}</div>
                            <div class="swiper-slide tour__location" id="tour-maker-space" style="height: 69.5714px;"
                                 role="group" aria-label="7 / 7">{% trans 'maker-space' %}</div>
                            <!-- <div class="swiper-slide tour__location">Фойе 8</div>
                            <div class="swiper-slide tour__location">Фойе 9</div> -->
                        </div> <!-- /SWIPER WRAPER -->
                        <!-- PAGINATION -->
                        <div class="swiper-button-prev tour__arrow swiper-button-disabled swiper-button-lock"
                             tabindex="-1" role="button" aria-label="Previous slide"
                             aria-controls="swiper-wrapper-d9c5947dda6362e9" aria-disabled="true">
                            <img src="{% static 'img/tour/arrow-up.svg' %}" alt="Arrow Prev">
                        </div>
                        <div class="swiper-button-next tour__arrow swiper-button-disabled swiper-button-lock"
                             tabindex="-1" role="button" aria-label="Next slide"
                             aria-controls="swiper-wrapper-d9c5947dda6362e9" aria-disabled="true">
                            <img src="{% static 'img/tour/arrow-down.svg' %}" alt="Arrow Next">
                        </div>
                        <!-- /PAGINATION -->
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                    <!-- /TOUR SWIPER -->
                </div> <!-- /LIST -->
                <!-- CHANGE	LOCATION ARROWS -->
                <div class="tour__list-arrow tour__list-arrow-prev">
                    <img src="{% static 'img/hero/arrow-prev.svg' %}" alt="Prev Arrow">
                </div>
                <div class="tour__list-arrow tour__list-arrow-next">
                    <img src="{% static 'img/hero/arrow-next.svg' %}" alt="Next Arrow">
                </div>
                <!-- CHANGE	LOCATION ARROWS -->

                <div class="tour__images">
                    <div class="tour__image tour__image-1">
                        <img class="tour__image-picture" src="{% static 'img/tour/tour-lobby-1.jpg' %}" alt="Фото фойе 1">
                    </div>
                    <div class="tour__image tour__image-2">
                        <img class="tour__image-picture" src="{% static 'img/tour/tour-lobby-2.jpg' %}" alt="Фото фойе 2">
                    </div>
                    <div class="tour__image tour__image-3">
                        <img class="tour__image-picture" src="{% static 'img/tour/tour-lobby-3.jpg' %}" alt="Фото фойе 3">
                    </div>
                    <div class="tour__image tour__image-4">
                        <img class="tour__image-picture" src="{% static 'img/tour/tour-lobby-4.jpg' %}" alt="Фото фойе 4">
                    </div>
                    <a href="#!" class="tour__virtual-tour">
                        {% trans 'virtual-tour' %} <span>+</span>
                    </a>
                </div> <!-- /IMAGES -->
            </div> <!-- /BOX -->
        </div> <!-- /ROW -->
    </div>
</section>