@charset "UTF-8";
/* Base */
/* Reset and base styles  */
* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Links */
a, a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Common */
/*aside, nav, footer, header, section, main {*/
/*    display: block;*/
/*}*/

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

ul, ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */
input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button, input[type=submit] {
    display: inline-block;
    box-shadow: none;
    background: transparent none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

:root {
    --container-width: 1310px;
    --container-padding: 15px;
    --font-main: "Montserrat", sans-serif;
    --general-color-r: #65B741;
    --gray-color: #7f7b82;
    --general-color: #185638;
    --secondary-color: #f6ae2d;
    --alternative-color: #4c1036;
    --white-color: #fcfcfc;
    --black-color: #0a1128;
    --general-tint-color: #0c2b1c;
    --general-tint-2-color: #103f28;
    --laptop-size: 1199px;
    --tablet-size: 959px;
    --mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--page-bg);
    color: var(--text-color);
    font-family: var(--font-main);
}

.none {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.no-scroll {
    overflow-y: hidden;
}

.title {
    font-weight: 800;
    font-size: 30px;
    line-height: 133%;
    color: var(--alternative-color);
    padding-left: 15px;
    border-left: 5px solid var(--secondary-color);
}

.container {
    padding: 0 var(--container-padding);
    max-width: var(--container-width);
    margin: 0 auto;
}

.container-right {
    /* overflow-x: hidden; */
    padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

@media (max-width: var(--laptop-size)) {
    .container-right {
        padding-left: var(--container-padding);
    }
}

.container-left {
    /* overflow-x: hidden; */
    padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}

@media (max-width: var(--laptop-size)) {
    .container-left {
        padding-right: var(--container-padding);
    }
}

html, body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
}

.footer {
    padding: 60px 0;
    background-color: #e3e3e3;
}

.footer {
  background-color: var(--general-color);
  font-size: 14px;
  line-height: 1.8;
  color: #fff;
  padding: 50px 0 0;
}

.footer__row {
  display: flex;
  gap: 80px;
}

.footer__info {
  display: grid;
  gap: 5px;
}

.footer__logo {
  width: 172px;
  height: 44px;
}

.footer__text {
  width: 220px;
  font-weight: 400;
}

.footer-title {
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 500;
}

.footer__about-title,
.footer__services-title,
.footer__contacts-title {
  margin-bottom: 7px;
}

.footer__about-list,
.footer__services-list {
  display: grid;
  gap: 10px;
}

.footer-item a {
  color: #fff;
  transition: all 0.2s ease;
}
.footer-item a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.footer__contacts-text {
  position: relative;
  margin-bottom: 10px;
  padding-left: 30px;
}
.footer__contacts-text:nth-child(4) {
  margin-bottom: 20px;
}
.footer__contacts-text::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: left;
}
.footer__contacts-text-1::before {
  background-image: url("/static/img/footer/location-icon.svg");
}
.footer__contacts-text-2::before {
  background-image: url("/static/img/footer/phone-icon.svg");
}
.footer__contacts-text-3::before {
  background-image: url("/static/img/footer/fax-icon.svg");
}

.footer__links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  width: 200px;
}

.footer__link {
  opacity: 0.9;
  transition: all 0.2s ease;
}
.footer__link img {
  width: 22px;
  height: 22px;
}
.footer__link:hover {
  opacity: 1;
  scale: 1.05;
}
/* Blocks */
.dosai {
    padding: 50px 0 100px;
    background: url("/static/img/dosai/background-logo.svg") no-repeat 50% 30%;
}

.dosai__row {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
}

.dosai__messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    padding: 20px;
}

.dosai__chat-bar {
    position: fixed;
    bottom: 50px;
    left: 50%;
    z-index: 20;
    transform: translateX(-50%);
    background-color: rgba(10, 17, 40, 0.35);
    max-width: 800px;
    width: 100%;
    max-height: 800px;
    padding: 10px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--black-color);
    transition: height 0.2s ease;
}

.dosai__chat-bar-input {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-color);
    font-weight: 500;
    font-size: 16px;
    resize: none;
    overflow: hidden;
    outline: none;
    height: 100%;
    width: 90%;
    transition: height 0.2s ease;
    border: none;
    background-color: transparent;
}

.dosai__chat-bar-input:focus {
    outline: none;
}

.dosai__chat-bar-btn {
    transition: box-shadow 0.2s ease;
    border: none;
    background: none;
}

.dosai__chat-bar-btn:hover {
    box-shadow: 0 4px 4px 0 rgba(10, 17, 40, 0.25);
}

.dosai__chat-bar-btn img {
    width: 27px;
    height: 27px;
    background-color: var(--black-color);
    padding: 10px 8px;
    border-radius: 3px;
}

.dosai__user-msg {
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--general-color);
    max-width: 600px;
    align-self: end;
    color: var(--white-color);
    border-radius: 9px;
    box-shadow: -4px 5px 17px 2px rgba(12, 43, 28, 0.7);
}

.dosai__bot-msg {
    padding: 20px;
    background-color: var(--black-color);
    font-size: 16px;
    font-weight: 500;
    max-width: 600px;
    align-self: flex-start;
    color: var(--white-color);
    border-radius: 9px;
    box-shadow: 4px 5px 17px 2px rgba(10, 17, 40, 0.7);
}


.services {
    margin-bottom: 85px;
}

.services__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 28px;
    grid-template-areas: "time news news ai-chat" "time actions events events" "courses courses events events";
    width: 100%;
    height: 1080px;
}

.services__row .services__action {
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    transition: box-shadow 0.2s ease;
}

.services__row .services__action:hover {
    box-shadow: 2px 2px 12px 4px rgba(0, 0, 0, 0.25);
}

.services__time {
    position: relative;
    grid-area: time;
    background: linear-gradient(180deg, #185638 0%, #0a1128 100%);
    padding: 26px;
}

.services__time-item {
    padding-bottom: 20px;
}

.services__time-item:not(:first-child) {
    margin-top: 20px;
}

.services__time-item:not(:last-child) {
    border-bottom: 3px solid rgba(246, 174, 45, 0.8);
}

.services__time-num {
    font-size: 32px;
    font-weight: 600;
    color: var(--secondary-color);
    opacity: 0.8;
}

.services__time-text {
    font-family: var(--font-family), serif;
    font-weight: 800;
    font-size: 16px;
    color: var(--white-color);
    opacity: 0.8;
}

.services__time::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../img/services/book-logo.svg") no-repeat left 50% bottom 26px;
    pointer-events: none;
}

.services__news {
    grid-area: news;
    background-color: #185638;
    overflow: hidden;
    position: relative;
}

.services__news-swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.services__news-swiper .swiper-slide {
    position: relative;
}

.services__news-swiper img {
    width: 100%;
    height: 100%;
}

.swiper-button-prev.services__arrow,
.swiper-button-next.services__arrow {
    width: 18px;
    height: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    scale: 1;
    transition: scale 0.2s ease;
}

.swiper-button-prev.services__arrow::after,
.swiper-button-next.services__arrow::after {
    content: "";
}

.swiper-button-prev.services__arrow:hover,
.swiper-button-next.services__arrow:hover {
    scale: 1.08;
}

.swiper-button-prev.services__arrow:active,
.swiper-button-next.services__arrow:active {
    scale: 0.9;
}

.swiper-button-prev.services__arrow {
    left: 7px;
}

.swiper-button-next.services__arrow {
    right: 7px;
}

.services-news {
    position: absolute;
    top: 10px; /* Позиционирование сверху слайда */
    left: 10px; /* Позиционирование слева слайда */
    z-index: 8; /* Убедитесь, что заголовок отображается поверх других элементов */
    padding: 3px 12px; /* Поддержание вашего оригинального стиля */
    background-color: var(--general-color); /* Использование CSS переменной для фона */
    color: var(--white-color); /* Использование CSS переменной для цвета текста */
    border-radius: 3px; /* Скругление углов */
    text-transform: uppercase; /* Верхний регистр текста */
    font-size: 16px; /* Размер шрифта */
    font-weight: 800; /* Жирность шрифта */
}

.services__news-title {
    position: absolute;
    left: 30px;
    bottom: 20px;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.7); /* Добавление полупрозрачного черного фона */
    padding: 10px; /* Добавление паддинга для отступов текста от краев блока */
    border-radius: 5px; /* Скругление углов блока */
    width: calc(100% - 60px); /* Установка ширины с учетом паддингов */
    box-sizing: border-box; /* Включает паддинги в ширину элемента */
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5); /* Добавление тени для текста */
}

.services__news-link {
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 600;
    filter: drop-shadow(2px 2px 1px black);
    transition: filter 0.2s ease;
}

.services__news-link:hover {
    filter: drop-shadow(2px 2px 2px black);
}

.services__ai-chat {
    grid-area: ai-chat;
    background-color: var(--general-color);
    transition: background-color 0.2s ease;
}

.services__ai-chat:hover {
    background-color: var(--general-tint-color);
}

.services__ai-chat-link {
    background: url("/static/img/dosai/background-logo.svg");
    background-size: 90%;
    display: flex;
    flex-direction: column;
    gap: 47px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-size 0.5s ease;
}

.services__ai-chat-link:hover {
    background-size: 100%;
}

.services__ai-chat-link:hover .services__ai-chat-logo {
    scale: 1.05;
}

.services__ai-chat-link:hover .services__ai-chat-text {
    color: var(--secondary-color);
}

.services__ai-chat-logo {
    width: 137px;
    height: 129px;
    transition: scale 0.2s ease;
}

.services__ai-chat-text {
    font-size: 16px;
    font-weight: 800;
    color: var(--white-color);
    position: absolute;
    bottom: 50px;
    transition: color 0.2s ease;
}

.services__actions {
    grid-area: actions;
    position: relative;
}

.services__actions-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 113px 40px;
}

.services__actions-title {
    position: absolute;
    top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    color: var(--general-color);
}

.services__actions-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
    row-gap: 32px;
}

.services__actions-icon {
    transition: all 0.2s ease;
}

.services__actions-icon svg path {
    stroke: var(--gray-color);
}

.services__actions-icon:nth-child(3) svg path, .services__actions-icon:nth-child(6) svg path {
    stroke: none;
}

.services__actions-icon:hover {
    scale: 1.2;
}

.services__actions-icon:hover svg path {
    stroke: var(--general-color);
}

.services__actions-icon:hover:nth-child(3) svg path, .services__actions-icon:hover:nth-child(6) svg path {
    stroke: none;
    fill: var(--general-color);
}

.services__events {
    grid-area: events;
}

.services__events-row {
    width: 100%;
    height: 100%;
    border-radius: 9px;
}

.services__events-swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 9px;
    position: relative;
}

.services__events-swiper .swiper-wrapper {
    position: relative;
}

.services__events-slide-image {
    display: block;
    position: relative;
    height: 560px;
    width: 100%;
}

.services__events-slide-image:hover img {
    scale: 1.03;
}

.services__events-slide-image:hover .services__events-slide-shadow {
    box-shadow: inset 0 100px 115px 0 var(--general-tint-color);
}

.services__events-slide-image img {
    width: 100%;
    height: 100%;
    transition: scale 0.4s ease;
}

.services__events-slide-image .services__events-slide-shadow {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    box-shadow: inset 0 80px 110px 0 var(--general-tint-color);
    transition: box-shadow 0.3s ease-in;
}

.services__events-slide-content {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 12;
    width: 100%;
    background: linear-gradient(180deg, #185638 0%, #0a1128 100%);
    border-radius: 32px 32px 9px 9px;
    border-top: 4px solid var(--secondary-color);
    padding: 30px 30px 10px;
    height: 220px;
    transition: height 0.4s ease-in-out;
}

.services__events-slide-content:hover {
    height: 50%;
}

.services__events-slide-content:hover .services__events-slide-desc {
    opacity: 1;
}

.services__events-slide-title {
    font-weight: 800;
    font-size: 30px;
    color: var(--white-color);
    width: 100%;
    border-bottom: 3px solid rgba(246, 174, 45, 0.8);
    padding-bottom: 2px;
    margin-bottom: 10px;
}

.services__events-slide-location {
    font-weight: 600;
    font-size: 22px;
    color: var(--white-color);
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
}

.services__events-slide-location:before {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("/static/img/services/events-door-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.services__events-slide-date {
    font-weight: 600;
    font-size: 22px;
    color: var(--white-color);
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
}

.services__events-slide-date:before {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url("/static/img/services/events-calendar-icon.svg") no-repeat center;
}

.services__events-slide-time {
    font-weight: 600;
    font-size: 22px;
    color: var(--secondary-color);
    padding-left: 30px;
    margin-bottom: 10px;
    position: relative;
}

.services__events-slide-time:before {
    content: "";
    width: 22px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url("/static/img/services/events-time-icon.svg") no-repeat center;
}

.services__events-slide-desc {
    margin-top: 15px;
    font-weight: 400;
    color: var(--white-color);
    opacity: 0;
    line-height: 1.7;
    transition: opacity 0.3s ease;
}

.swiper-button-prev.services__events-arrow,
.swiper-button-next.services__events-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
    width: 42px;
    height: 37px;
    border-radius: 3px;
    transition: box-shadow 0.1s ease-out, scale 0.1s ease-in;
}

.swiper-button-prev.services__events-arrow::after,
.swiper-button-next.services__events-arrow::after {
    content: "";
}

.swiper-button-prev.services__events-arrow:hover,
.swiper-button-next.services__events-arrow:hover {
    scale: 1.2;
}

.swiper-button-prev.services__events-arrow:active,
.swiper-button-next.services__events-arrow:active {
    scale: 0.9;
}

.services__events-arrow.swiper-button-prev {
    left: 500px;
}

.services__events-arrow.swiper-button-next {
    right: 20px;
}

.services__courses {
    grid-area: courses;
    background-color: #185638;
    overflow: hidden;
    position: relative;
}

.services__courses-swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.services__courses-swiper img {
    width: 100%;
    height: 100%;
}

.swiper-button-prev.services__arrow,
.swiper-button-next.services__arrow {
    width: 18px;
    height: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    scale: 1;
    transition: scale 0.2s ease;
}

.swiper-button-prev.services__arrow::after,
.swiper-button-next.services__arrow::after {
    content: "";
}

.swiper-button-prev.services__arrow:hover,
.swiper-button-next.services__arrow:hover {
    scale: 1.08;
}

.swiper-button-prev.services__arrow:active,
.swiper-button-next.services__arrow:active {
    scale: 0.9;
}

.swiper-button-prev.services__arrow {
    left: 7px;
}

.swiper-button-next.services__arrow {
    right: 7px;
}

.services-courses {
    position: absolute;
    top: 10px;
    left: 25px;
    z-index: 8;
    padding: 3px 12px;
    background-color: var(--general-color);
    color: var(--white-color);
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
}

.services__сourses-desc {
    position: absolute;
    left: 30px;
    bottom: 70px;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
}

.services__courses-link {
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 600;
    filter: drop-shadow(2px 2px 1px black);
    transition: filter 0.2s ease;
}

.services__courses-link:hover {
    filter: drop-shadow(2px 2px 2px black);
}

.tour {
    margin-bottom: 85px;
}

.tour__title {
    margin-bottom: 40px;
}

.tour__box {
    display: flex;
    gap: 25px;
    position: relative;
}

.tour__list {
    margin-left: 15px;
}

.tour__swiper {
    width: 280px;
    height: 487px;
    overflow: hidden;
}

.tour__swiper .swiper-wrapper {
    width: 100%;
    height: 100%;
}

.tour__swiper .swiper-slide {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: var(--gray-color);
    padding: 21px 5px;
    position: relative; /* Новое */
    overflow: hidden; /* Скрывает выходящие за пределы элементы */

}

.tour__swiper .swiper-slide:not(:last-child) {
    border-bottom: 1px solid #efefef;
}

.tour__swiper .swiper-slide.active {
    transition: background-color 0.2s ease-in;
    background-color: var(--general-color);
    color: var(--white-color);
    border-bottom: 0;
    border-radius: 9px;
}

.tour__images {
    position: relative;
    padding-top: 30px;
    display: grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 23px;
    column-gap: 21px;
    grid-template-areas: "image-1 image-2 image-4" "image-1 image-3 image-4";
}

.tour__image {
    width: 100%;
    height: 100%;
    border-radius: 9px;
    overflow: hidden;
}

.tour__image img {
    border-radius: 9px;
    transition: scale 0.5s ease;
}

.tour__image img:hover {
    scale: 1.1;
}

.tour__image-1 {
    height: 463px;
    width: 100%;
    grid-area: image-1;
}

.tour__image-2 {
    grid-area: image-2;
    width: 100%;
    height: 100%;
}

.tour__image-3 {
    grid-area: image-3;
    width: 100%;
    height: 100%;
}

.tour__image-4 {
    height: 463px;
    width: 100%;
    grid-area: image-4;
}

.swiper-button-prev.tour__arrow,
.swiper-button-next.tour__arrow {
    opacity: 1 !important;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 32px;
    height: 27px;
    background-color: var(--general-color);
    border-radius: 3px;
    transition: box-shadow 0.1s ease-out, scale 0.1s ease-in;
}

.swiper-button-prev.tour__arrow::after,
.swiper-button-next.tour__arrow::after {
    content: "";
}

.swiper-button-prev.tour__arrow:hover,
.swiper-button-next.tour__arrow:hover {
    box-shadow: 0 4px 10px rgba(243, 168, 0, 0.55);
    scale: 1.02;
}

.swiper-button-prev.tour__arrow:active,
.swiper-button-next.tour__arrow:active {
    scale: 0.9;
}

.tour__arrow.swiper-button-prev {
    left: 90%;
}

.tour__arrow.swiper-button-next {
    right: 0;
}

.tour__virtual-tour {
    font-size: 14px;
    font-weight: 600;
    background-color: #ffffff;
    color: var(--gray-color);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 7px 23px;
    border-radius: 0 9px 0 9px;
    transition: color 0.2s ease;
}

.tour__virtual-tour:hover {
    color: var(--secondary-color);
}

.tour__virtual-tour:hover span {
    transform: rotate(135deg);
}

.tour__virtual-tour span {
    display: inline-block;
    transition: transform 0.2s ease;
    color: var(--secondary-color);
}



.header {
    background-color: var(--general-color);
    padding: 17px 0;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 56px;
    z-index: 10;
}

.header__logo {
    cursor: pointer;
}

.header__logo:hover img {
    filter: drop-shadow(10px);
}

.header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 40px;
    margin-right: 25px;
    text-align: center;
}

.header__nav-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.header__nav-item-main {
    position: relative;
    color: var(--white-color);
    transition: color 0.2s ease;
    padding: 30px;
    margin: -30px;
    background-color: var(--general-color);
}

.header__nav-item-main:hover {
    color: var(--secondary-color);
}

.header__nav-item-dropdown {
    scale: 1 0;
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s ease-out, top 0.3s ease-out;
    top: 28px;
    left: 50%;
    z-index: 99;
    transform: translate(-50%, 0);
}

.header__nav-item-dropdown li {
    display: block;
    text-align: center;
    padding: 11px 30px;
    width: 130%;
    background-color: var(--general-tint-color);
    border-bottom: 1px solid var(--secondary-color);
    transition: background-color 0.2s ease;
}

.header__nav-item-dropdown li a {
    text-decoration: none;
    color: var(--white-color);
}

.header__nav-item-dropdown li:hover {
    background-color: var(--general-tint-2-color);
    color: var(--secondary-color);
}

.header__nav-item-dropdown li:last-child {
    border-bottom: 0;
    border-radius: 0 0 9px 9px;
}

.header__nav-item:hover .header__nav-item-dropdown {
    opacity: 1;
    top: 48px;
    scale: 1 1;
}

.hero {
    margin-bottom: 130px;
}

.hero__row {
    position: relative;
}

.hero__swiper {
    width: 1280px;
    height: 451px;
    overflow: hidden;
    position: relative;
}

.swiper-button-prev.hero__arrow,
.swiper-button-next.hero__arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    width: 32px;
    height: 27px;
    background-color: var(--general-color);
    border-radius: 3px;
    transition: box-shadow 0.1s ease-out, scale 0.1s ease-in;
}

.swiper-button-prev.hero__arrow::after,
.swiper-button-next.hero__arrow::after {
    content: "";
}

.swiper-button-prev.hero__arrow:hover,
.swiper-button-next.hero__arrow:hover {
    box-shadow: 0 4px 10px rgba(243, 168, 0, 0.55);
    scale: 1.02;
}

.swiper-button-prev.hero__arrow:active,
.swiper-button-next.hero__arrow:active {
    scale: 0.9;
}

.hero__arrow.swiper-button-prev {
    left: 40px;
}

.hero__arrow.swiper-button-next {
    right: 40px;
}

.hero__title {
    position: absolute;
    top: 280px;
    left: 140px;
    z-index: 10;
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    width: 736px;
}

.hero__socials {
    position: absolute;
    bottom: 19px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.hero__social {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 86, 56, 0.8);
    border-radius: 9px;
    transition: background-color 0.2s ease, scale 0.3s ease-out;
}

.hero__social:hover {
    background-color: var(--general-color);
    scale: 1.12;
}

.hero__line {
    margin: 12px auto;
    background-color: var(--secondary-color);
    width: 654px;
    height: 3px;
    border-radius: 3px;
}

.hero__links {
    display: flex;
    width: 100%;
}

.hero__link {
    overflow: hidden;
    background-color: var(--general-color);
    width: 320px;
    height: 150px;
}

.hero__link:first-child {
    border-radius: 9px 0 0 9px;
}

.hero__link:nth-child(2), .hero__link:nth-child(3), .hero__link:nth-child(4) {
    border-left: 4px solid #fff;
}

.hero__link:last-child {
    border-radius: 0 9px 9px 0;
}

.hero__link-frame {
    background: transparent;
    transition: background-size 0.4s ease;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero__link-frame-1 {
    background: url("/static/img/hero/abai-bg.svg") no-repeat center;
    background-size: 60%;
}

.hero__link-frame-2 {
    background: url("/static/img/hero/map-bg.svg") no-repeat center;
    background-size: 60%;
}

.hero__link-frame-3 {
    background: url("/static/img/hero/mountain-bg.svg") no-repeat center;
    background-size: 60%;
}

.hero__link-frame-4 {
    background: url("/static/img/hero/feather-bg.svg") no-repeat center;
    background-size: 60%;
}

.hero__link-frame::after {
    content: attr(data-text);
    width: 100%;
    text-align: center;
    position: absolute;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.hero__link-img {
    display: block;
    opacity: 0.9;
    scale: 1;
    transition: all 0.2s ease;
}

.hero__link:hover {
    background-color: var(--general-tint-color);
}

.hero__link:hover .hero__link-frame {
    background-size: 70%;
}

.hero__link:hover .hero__link-frame::after {
    color: var(--secondary-color);
}

.hero__link:hover .hero__link-img {
    opacity: 1;
    scale: 1.03;
    color: var(--secondary-color);
}

/*.logo {*/
/*    font-size: 32px;*/
/*}*/

.mobile-nav {
    position: fixed;
    top: -100%;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: rgb(130, 156, 168);
    transition: all 0.2s ease-in;
}

.mobile-nav--open {
    top: 0;
}

.mobile-nav a {
    color: #fff;
}

.mobile-nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    font-size: 28px;
}

.mobile-nav__list .active {
    opacity: 0.5;
}

/* Nav Icon */
.mobile-nav-btn {
    --time: 0.1s;
    --width: 40px;
    --height: 30px;
    --line-height: 4px;
    --spacing: 6px;
    --color: #000;
    --radius: 4px;
    /* Fixed height and width */
    /* height: var(--height); */
    /* width: var(--width); */
    /* Dynamic height and width */
    height: calc(var(--line-height) * 3 + var(--spacing) * 2);
    width: var(--width);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon {
    position: relative;
    width: var(--width);
    height: var(--line-height);
    background-color: var(--color);
    border-radius: var(--radius);
}

.nav-icon::before,
.nav-icon::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: var(--width);
    height: var(--line-height);
    border-radius: var(--radius);
    background-color: var(--color);
    transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
    /* top: calc(var(--line-height) * -2); */
    top: calc(-1 * (var(--line-height) + var(--spacing)));
}

.nav-icon::after {
    /* top: calc(var(--line-height) * 2); */
    top: calc(var(--line-height) + var(--spacing));
}

.nav-icon.nav-icon--active {
    background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
    top: 0;
    transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
    transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
    transform: rotate(-45deg);
}

/* Layout */
.mobile-nav-btn {
    z-index: 999;
}