
/*--------------------------------------------------------------
# Pagination Section
--------------------------------------------------------------*/
.pagination {
    padding-top: 0;
    color: color-mix(in srgb, var(--default-color), transparent 40%);
}

.pagination ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.pagination li {
    margin: 0 5px;
    transition: 0.3s;
}

.pagination li a {
    color: var(--accent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
}

.pagination li a.active,
.pagination li a:hover {
    background: var(--accent-color);
    color: var(--contrast-color);
}

.pagination li a.active a,
.pagination li a:hover a {
    color: var(--contrast-color);
}
