/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/

.services .service-item .icon {
    font-size: 32px;
    border-radius: 10px;
    position: relative;
    margin-right: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    flex-shrink: 0;
}


.services .service-item p {
    margin-bottom: 0;
    color: color-mix(in srgb, var(--background-color), transparent 40%);
    transition: 0.3s;
}

.services .service-item .read-more {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    transition: 0.3s;
    font-size: 14px;
}

.services .service-item .read-more i {
    margin-left: 10px;
}

.services .service-item.item-cyan .icon {
    color: #0dcaf0;
    border: 1px solid #0dcaf0;
    background: rgba(13, 202, 240, 0.1);
}

.services .service-item.item-orange .icon {
    color: #fd7e14;
    border: 1px solid #fd7e14;
    background: rgba(253, 126, 20, 0.1);
}

.services .service-item.item-teal .icon {
    color: #20c997;
    border: 1px solid #20c997;
    background: rgba(32, 201, 151, 0.1);
}

.services .service-item.item-red .icon {
    color: #df1529;
    border: 1px solid #df1529;
    background: rgba(223, 21, 4, 0.1);
}

.services .service-item.item-indigo .icon {
    color: #6610f2;
    border: 1px solid #6610f2;
    background: rgba(102, 16, 242, 0.1);
}

.services .service-item.item-pink .icon {
    color: #f3268c;
    border: 1px solid #f3268c;
    background: rgba(243, 38, 140, 0.1);
}

.services .service-item:hover {
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
}

.services .service-item:hover h3 {
    color: color-mix(in srgb, var(--secondry-color), transparent 10%);
}

.services .service-item h3 {
    color: var(--secondry-color);
    font-weight: 400;
}

.services .service-item:hover p {
    color: color-mix(in srgb, var(--background-color), transparent 10%);
}

/* Основной стиль для контейнера и элементов */


/* Основной стиль для элементов сетки */
.services .service-item {
    background-color: var(--accent-color);
    border: 1px solid color-mix(in srgb, var(--secondry-color), transparent 85%);
    min-height: 150px;
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .service-item {
    background: linear-gradient(180deg, var(--accent-color) 0%, var(--accent-color-2) 100%);
}

.services .service-item.time {
    padding: 20px;
}

/* Десктопная версия (ваша текущая сетка) */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 столбца */
    grid-template-rows: repeat(3, auto); /* 3 строки */
    gap: 10px; /* Отступы между элементами */
}

/* Позиционирование для десктопа */
.news {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.time {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.dosai {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.services_s {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.course {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.event {
    grid-column: 3 / 5;
    grid-row: 2 / 4;
}

/* Адаптивная версия для мобильных устройств (двухколоночная сетка) */
@media (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Две колонки */
        grid-template-rows: auto; /* Высота строк адаптируется */
        gap: 10px; /* Отступы между элементами */
    }

    /* Новости занимают первую колонку */
    .news {
        grid-column: 1 / 2; /* Левая колонка */
        grid-row: 1 / 2; /* Первая строка */
    }


    /* Время занимает две строки и одну колонку */
    .time {
        grid-column: 2 / 3; /* Правая колонка */
        grid-row: 1 / 3; /* Две строки */
    }


    /* Dosai занимает правую колонку первой строки */
    .dosai {
        grid-column: 1 / 2; /* Левая колонка */
        grid-row: 2 / 3; /* Вторая строка */
    }

    /* Services_s в правой колонке второй строки */
    .services_s {
        grid-column: 2 / 3; /* Правая колонка */
        grid-row: 2 / 3; /* Вторая строка */
    }

    /* Курсы в левой колонке третьей строки */
    .course {
        grid-column: 1 / 2; /* Левая колонка */
        grid-row: 3 / 4; /* Третья строка */
    }

    /* События в правой колонке третьей строки */
    .event {
        grid-column: 2 / 3; /* Правая колонка */
        grid-row: 3 / 4; /* Третья строка */
    }
}


/*News*/
.service-item.news {
    max-height: 400px;
}

.swiper {
    width: 100%;
    height: 100%; /* Фиксированная высота контейнера Swiper */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex; /* Используем flexbox */
    justify-content: center; /* Центрируем контент */
    align-items: center;
    position: relative; /* Относительное позиционирование для контента */
    height: 100%; /* Высота слайда = высоте контейнера Swiper */
}

.news .news-image {
    width: 100%; /* Ширина изображения — автоматически */
    height: 100%; /* Высота изображения — 100% от контейнера */
    object-fit: cover; /* Сохраняем пропорции, изображение не обрезается */
    max-height: 400px;
}

.news .news-content {
    position: absolute;
    bottom: 5px; /* Позиционирование по вертикали на 50% от высоты контейнера */
    left: 50%; /* Позиционирование по горизонтали на 50% от ширины контейнера */
    transform: translate(-50%, -50%); /* Смещение на половину ширины и высоты для идеального центрирования */
    color: #fff;
    background: rgba(0, 0, 0, 0.5); /* Фон для лучшей читаемости текста */
    border-radius: 10px;
    text-align: center; /* Текст внутри блока будет центрирован */
    /*max-width: 80%; !* Ограничение по ширине *!*/
}

.swiper-button-prev::after, .swiper-button-next::after {
    content: '' !important;
}

.news-tag {
    position: absolute;
    top: 5px; /* Расположить в левом верхнем углу */
    left: 5px;
    background: var(--accent-color); /* Цвет фона */
    color: #fff; /* Цвет текста */
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.news-tag:hover {
    background: var(--secondry-color); /* Цвет фона при наведении */
}

/*DosAI*/


.dosai .service-item {
    width: 100%;
    height: 400px; /* Укажите нужную высоту для вашего блока */
    display: flex; /* Flexbox для центрирования контента */
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
    overflow: hidden; /* Скрытие элементов, выходящих за рамки */
    text-align: center; /* Центрирование текста */
}

/* Стиль для центрального изображения */
.dosai .center-image {
    position: relative; /* Относительное позиционирование внутри ссылки */
    max-width: 150px; /* Максимальная ширина логотипа */
    height: auto; /* Поддержание пропорций изображения */
    z-index: 2; /* Картинка будет выше фона */
    margin-bottom: 20px; /* Отступ от текста */
}

/* Стиль для текста */
.dosai .text h2 {
    color: #fff; /* Белый цвет текста */
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 5px;
    z-index: 3; /* Текст выше картинки */
    display: inline-block; /* Чтобы фон обрамлял текст */
}
