/*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/

.services .service-item .icon {
    font-size: 32px;
    border-radius: 10px;
    position: relative;
    margin-right: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    flex-shrink: 0;
}


.services .service-item p {
    margin-bottom: 0;
    color: color-mix(in srgb, var(--background-color), transparent 40%);
    transition: 0.3s;
}

.services .service-item .read-more {
    display: inline-flex;
    align-items: center;
    margin-top: 10px;
    transition: 0.3s;
    font-size: 14px;
}

.services .service-item .read-more i {
    margin-left: 10px;
}

.services .service-item.item-cyan .icon {
    color: #0dcaf0;
    border: 1px solid #0dcaf0;
    background: rgba(13, 202, 240, 0.1);
}

.services .service-item.item-orange .icon {
    color: #fd7e14;
    border: 1px solid #fd7e14;
    background: rgba(253, 126, 20, 0.1);
}

.services .service-item.item-teal .icon {
    color: #20c997;
    border: 1px solid #20c997;
    background: rgba(32, 201, 151, 0.1);
}

.services .service-item.item-red .icon {
    color: #df1529;
    border: 1px solid #df1529;
    background: rgba(223, 21, 4, 0.1);
}

.services .service-item.item-indigo .icon {
    color: #6610f2;
    border: 1px solid #6610f2;
    background: rgba(102, 16, 242, 0.1);
}

.services .service-item.item-pink .icon {
    color: #f3268c;
    border: 1px solid #f3268c;
    background: rgba(243, 38, 140, 0.1);
}

.services .service-item:hover {
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
    scale: 101%;
}

.services .service-item:hover h3 {
    color: color-mix(in srgb, var(--secondry-color), transparent 10%);
}

.services .service-item h3 {
    color: var(--secondry-color);
    font-weight: 400;
}

.services .service-item:hover p {
    color: color-mix(in srgb, var(--background-color), transparent 10%);
}

/* Основной стиль для контейнера и элементов */


/* Основной стиль для элементов сетки */
.services .service-item {
    background-color: var(--accent-color);
    min-height: 150px;
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .service-item {
    background: linear-gradient(180deg, var(--accent-color) 0%, var(--accent-color-2) 100%);
}

.services .service-item.time {
    padding: 20px;
}

/* Десктопная версия (ваша текущая сетка) */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 столбца */
    grid-template-rows: repeat(3, auto); /* 3 строки */
    gap: 10px; /* Отступы между элементами */
}

/* Базовые стили для сетки */
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 колонки для десктопа */
    grid-template-rows: auto; /* Высота строк адаптируется */
    gap: 20px; /* Пространство между элементами */
    padding: 10px; /* Внутренний отступ */
}

/* Позиционирование для десктопа */
.news {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.time {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.dosai {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.action {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.course {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.event {
    grid-column: 3 / 5;
    grid-row: 2 / 4;
}

/* Адаптивная версия для мобильных устройств */
@media (max-width: 1199px) {
    .grid-container {
        grid-template-columns: 1fr 1fr; /* Две колонки */
        grid-template-rows: auto; /* Высота строк адаптируется */
        gap: 10px; /* Отступы между элементами */
    }

    /* Перепозиционирование элементов для мобильной версии */
    .news {
        grid-column: 1 / 3; /* Занимает обе колонки */
        grid-row: 1; /* Первая строка */
    }

    .time {
        grid-column: 1 / 3; /* Левая колонка */
        grid-row: 2; /* Вторая строка */
    }

     .time img {
          display: none;
      }

    /*.time .time-container {*/
    /*    flex-direction: row; !* Элементы располагаются горизонтально *!*/
    /*    justify-content: space-between; !* Равномерное распределение элементов *!*/
    /*    align-items: center; !* Центрируем по вертикали *!*/
    /*}*/

    /*!* Оставляем текст слева *!*/
    /*.time .time-item:not(:last-child) {*/
    /*    flex-grow: 1; !* Чтобы текст занимал больше пространства *!*/
    /*    text-align: left; !* Выровнять текст по левому краю *!*/
    /*}*/

    /*!* Перемещаем картинку вправо *!*/
    /*.time .time-item:last-child {*/
    /*    margin-top: 0;*/
    /*    margin-left: 20px; !* Отступ между текстом и картинкой *!*/
    /*}*/

    .dosai {
        grid-column: 2 / 3; /* Правая колонка */
        grid-row: 3; /* Вторая строка */
    }

    .action {
        grid-column: 1 / 2; /* Занимает обе колонки */
        grid-row: 3; /* Третья строка */
    }

    .course {
        grid-column: 1 / 3; /* Левая колонка */
        grid-row: 4; /* Четвертая строка */
    }

    .event {
        grid-column: 1 / 3; /* Правая колонка */
        grid-row: 5; /* Четвертая строка */
    }
}

/*Time*/

.time .time-container {
    display: flex;
    flex-direction: column; /* Элементы располагаются вертикально */
    align-items: start; /* Центрируем содержимое по горизонтали */
    height: 100%; /* Задаем высоту контейнера, чтобы картинка могла расположиться внизу */
}

.time .time-item {
    margin-bottom: 20px; /* Отступы между блоками */

}

.time .time-item h3 {
    font-weight: 700;
    font-size: 30px;
}

.time .time-item p {
    font-weight: 600;
    font-size: 18px;
}

.time .time-item:last-child {
    margin-top: auto; /* Перемещаем последний элемент (картинку) вниз */
}

.time img {
    height: 100%;
}

/*News*/
.service-item.news {
    max-height: 400px;
}

.swiper {
    width: 100%;
    height: 100%; /* Фиксированная высота контейнера Swiper */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex; /* Используем flexbox */
    justify-content: center; /* Центрируем контент */
    align-items: center;
    position: relative; /* Относительное позиционирование для контента */
    height: 100%; /* Высота слайда = высоте контейнера Swiper */
}

.news .news-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 400px;
}

.news .news-content {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
}

.news img {

    border-radius: 10px;
}

.swiper-button-prev::after, .swiper-button-next::after {
    content: '' !important;
}

/*DosAI*/

.dosai .service-item {
    width: 100%;
    height: 100%;
    display: flex; /* Flexbox для центрирования контента */
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
    overflow: hidden; /* Скрытие элементов, выходящих за рамки */
    text-align: center; /* Центрирование текста */
    position: relative; /* Для абсолютного позиционирования фонового изображения */
}

.dosai a {
    width: 100%; /* Полная ширина ссылки */
    height: 100%; /* Полная высота ссылки */
    display: flex; /* Используем Flexbox для центрирования */
    justify-content: center; /* Центрирование контента по горизонтали */
    align-items: center; /* Центрирование контента по вертикали */
    flex-direction: column; /* Расположение контента столбиком */
    position: relative; /* Абсолютное позиционирование */
    background: url("/static/img/services/logo-dosai-white-bg.svg") no-repeat center; /* Централизованный фоновый рисунок */
    text-decoration: none;
}

.dosai .center-image {
    max-width: 150px; /* Максимальная ширина логотипа */
    height: auto; /* Поддержание пропорций изображения */
    margin-bottom: 20px; /* Отступ от текста */
}

.dosai h2 {
    color: #fff; /* Белый цвет текста */
    font-size: 20px; /* Размер текста */
    margin: 0; /* Убираем отступы */
    padding: 5px 10px; /* Внутренние отступы */
    font-weight: 700;
    border-radius: 5px; /* Скругленные углы */
    display: block; /* Блочный элемент */
    z-index: 1; /* Уровень слоя текста */
    text-decoration: none;
    text-align: center;
}

/*Action*/


.action .action-list {
    border: 1px solid #ddd; /* Добавление рамки */
    border-radius: 10px; /* Закругление углов */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Легкая тень */
}

.action a {
    display: flex;
    align-items: center;
    padding: 10px 0; /* Отступы сверху и снизу */
    border-bottom: 1px solid #ddd; /* Разделитель между элементами */
}


.action a:last-child {
    border-bottom: none; /* Убираем нижний разделитель у последнего элемента */
}


.action a i {
    font-size: 24px; /* Размер иконки */
    color: #6c757d; /* Цвет иконки */
    margin-right: 15px; /* Отступ справа */
}

.action span {
    font-weight: 500; /* Полужирный текст */
    color: #495057; /* Цвет текста */
    margin: 0; /* Убираем отступы */
}

.action h5 {
    text-align: center; /* Центрирование заголовка */

    font-weight: bold;
    margin-bottom: 20px; /* Отступ снизу */
}

.action a {
    text-decoration: none; /* Убираем подчеркивание */
    color: inherit; /* Цвет ссылки как у обычного текста */
    transition: background-color 0.2s ease; /* Плавное изменение фона */
}

.action a:hover span {
    background-color: #f8f9fa; /* Цвет фона при наведении */
    color: var(--accent-color) !important;
}


/*Courses*/

.service-item.course {
    max-height: 400px;
}


.course .course-image {
    width: 100%; /* Ширина изображения — автоматически */
    height: 100%; /* Высота изображения — 100% от контейнера */
    object-fit: cover; /* Сохраняем пропорции, изображение не обрезается */
    max-height: 400px;
}

.course .course-content {
    position: absolute;
    bottom: 5px; /* Позиционирование по вертикали на 50% от высоты контейнера */
    left: 50%; /* Позиционирование по горизонтали на 50% от ширины контейнера */
    transform: translate(-50%, -50%); /* Смещение на половину ширины и высоты для идеального центрирования */
    color: #fff;
    background: rgba(0, 0, 0, 0.5); /* Фон для лучшей читаемости текста */
    border-radius: 10px;
    text-align: center; /* Текст внутри блока будет центрирован */
    /*max-width: 80%; !* Ограничение по ширине *!*/
}

.course img {
    border-radius: 10px;
}


.course .tag-all, .news .tag-all {
    position: absolute;
    top: 5px; /* Расположить в левом верхнем углу */
    left: 5px;
    background: var(--accent-color); /* Цвет фона */
    color: #fff; /* Цвет текста */
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.course .tag-all:hover, .news .tag-all:hover {
    background: var(--secondry-color); /* Цвет фона при наведении */

    color: var(--accent-color);
}

/*Events*/
.service-item.event {
    min-height: 500px;

}

.event {

    position: relative; /* Для последующего абсолютного позиционирования img */
    overflow: hidden; /* Скрываем части изображения, которые выходят за рамки */
}

.event p {
    color: var(--secondry-color);
}

.event img {
    position: absolute; /* Позиционирование относительно контейнера */
    top: 0;
    left: 0;
    width: 100%; /* Ширина изображения заполняет весь контейнер */
    height: 100%; /* Высота изображения также заполняет весь контейнер */
    object-fit: cover; /* Изображение будет обрезано, но сохранит пропорции */
    border-radius: 10px;
}

.event .swiper-button-prev,
.event .swiper-button-next {
    position: absolute;
    top: 30px; /* Расположение кнопок вверху */
}

.event .swiper-button-prev {
    right: 60px; /* Смещение левой кнопки левее */
}

/* Оформление кнопки "Вперед" (правая кнопка) */
.event .swiper-button-next {
    right: 20px; /* Правая кнопка ближе к правому краю */
}


/* Основной стиль для блока слайдов */
.event .swiper-slide {
    position: relative; /* Контейнер для позиционирования дочерних элементов */
    overflow: hidden; /* Скрытие выходящего за границы содержимого */
    border-radius: 10px;
    background: #f7f7f7; /* Фон для видимости контента */
}

/* Основной контейнер для контента события */
.event-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto; /* Высота подстраивается под контент */
    background: linear-gradient(180deg, var(--accent-color) 0%, var(--accent-color-2) 100%);
    padding: 10px 15px;
    overflow: hidden;
    transition: height 0.5s ease, opacity 0.5s ease;
}


/* Название события всегда видно */
.event-title {
    margin: 0; /* Убираем отступы */
    font-size: 28px;
    font-weight: bold;
    color: var(--secondry-color);
    padding: 5px;
    border-bottom: 1px solid var(--secondry-color);
}

/* Контейнер с дополнительной информацией */
.event-details {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
}

.event-details .time {
    color: var(--secondry-color) !important;
    font-size: 24px;
}

.event-details .desc {
    padding-top: 20px;
    padding-bottom: 10px;
}

/* При наведении на слайд раскрывается дополнительный контент */
.swiper-container-events:hover .event-details {
    max-height: 300px;
    opacity: 1;
}

/* Дополнительные стили для элементов внутри event-details */
.event-details p {
    margin: 5px 0;
}

/* Скрываем описание, если оно слишком длинное */
.event-details .desc {
    font-size: 20px;
    max-height: 9em;
    overflow: hidden; /* Скрытие переполненного текста */
    overflow-y: auto;
    font-weight: normal;
}
