.tour .title {
    font-weight: bold;
    font-size: 32px;
    color: var(--accent-color) !important;
    margin-bottom: 20px;
}

.tour .title::before {
    content: "▍";
    margin-right: 5px;
    color: var(--secondry-color);
}

.tour-list {

}

.tour-list li {
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
    transition: transform 0.5s ease, opacity 0.5s ease;

}

.tour-list li:hover {
    color: var(--background-color);
    background: var(--accent-color);
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
    opacity: 0.8;


}


.tour-list li.active {
    background: linear-gradient(30deg, var(--accent-color) 20%, var(--accent-color-2) 120%);
    /*background-color: var(--accent-color);*/
    color: var(--background-color);
}


.tour .gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Три столбца */
    grid-template-rows: repeat(2, auto); /* Две строки */
    gap: 10px; /* Отступы между изображениями */
}

.tour img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Плавный переход */
}

.tour img:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
    opacity: 0.8;
}

/* Первая картинка занимает два ряда */
.tour .img-large {
    grid-row: span 2;
}

/* Четвертая картинка также занимает два ряда */
.tour .img-tall {
    grid-row: span 2;
}

.tour .img-fluid {
    margin: 5px;
}

@media (max-width: 768px) {
    img {
        max-height: 300px;
    }
}

.tour .fade {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Плавный переход */
}

.tour .fade.show {
    opacity: 1;
}
