{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Поиск книг</h1>
        <form id="search-form">
            {% csrf_token %}
            <div class="form-group">
                <label for="search-query">Введите название книги или автора</label>
                <input type="text" class="form-control" id="search-query" placeholder="Поиск книг">
            </div>
            <button type="submit" class="btn btn-primary">Поиск</button>
        </form>

        <div id="search-results" class="mt-5">
            <!-- Здесь будут отображаться результаты поиска -->
        </div>

        <div id="pagination" class="mt-3">
            <button id="prev-page" class="btn btn-secondary" disabled>Предыдущая</button>
            <button id="next-page" class="btn btn-secondary" disabled>Следующая</button>
        </div>
    </div>
    <style>
        .list-group-item {
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 15px;
            background-color: #f9f9f9;
        }

        .list-group-item strong {
            font-size: 1.2em;
            color: #333;
        }

        .list-group-item em {
            color: #555;
        }

        .list-group-item p {
            color: #666;
        }

        .list-group-item small {
            color: #777;
        }
    </style>

    <script>
        let currentPage = 1;
        let currentQuery = '';

        function displayResults(results) {
            const resultsDiv = document.getElementById('search-results');
            resultsDiv.innerHTML = '';
            if (results.length === 0) {
                resultsDiv.innerHTML = '<p>Ничего не найдено.</p>';
            } else {
                const list = document.createElement('ul');
                list.className = 'list-group';
                results.forEach(book => {
                    const listItem = document.createElement('li');
                    listItem.className = 'list-group-item';
                    listItem.innerHTML = `
          <strong>${book.title === "нету" ? 'Неизвестно' : book.title}</strong><br>
          <em>Автор: ${book.author === 'нету' ? 'Автора у данной книги нет' : book.author}</em><br>
          <p>${book.description === "нету" ? 'описание у данной книги нет ' : book.description}</p>
          <small><strong>Ключевые слова:</strong> ${book.keywords === "нету" ? 'нету' : book.keywords}</small>
        `;
                    list.appendChild(listItem);
                });
                resultsDiv.appendChild(list);
            }
        }

        function updatePagination(totalPages) {
            document.getElementById('prev-page').disabled = currentPage === 1;
            document.getElementById('next-page').disabled = currentPage === totalPages;
        }

        function fetchResults() {
            fetch(`/search_books?q=${currentQuery}&page=${currentPage}`)
                .then(response => response.json())
                .then(data => {
                    displayResults(data.results);
                    updatePagination(data.total_pages);
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        document.getElementById('search-form').addEventListener('submit', function (event) {
            event.preventDefault();
            currentQuery = document.getElementById('search-query').value;
            currentPage = 1; // Сбрасываем страницу на первую при новом запросе
            fetchResults();
        });

        document.getElementById('prev-page').addEventListener('click', function () {
            if (currentPage > 1) {
                currentPage--;
                fetchResults();
            }
        });

        document.getElementById('next-page').addEventListener('click', function () {
            currentPage++;
            fetchResults();
        });
    </script>
{% endblock %}
