.dosai {
	padding: 0 0 10px;
}

.dosai__row {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	height: 84vh;
}

.dosai__box {
	background-image: url('../../img/dosai/background-logo.svg');
	background-position: 50% 30%;
	background-repeat: no-repeat;
	width: 100%;
	// height: 520px;
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	padding: 15px;
	overflow-y: scroll;

	position: relative;
}

.dosai__chat-bar {
	background-color: rgba(24, 42, 100, 35%);
	max-width: 800px;
	width: 100%;
	max-height: 800px;
	padding: 10px;
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid var(--black-color);
	transition: height 0.2s ease;
}
.dosai__chat-bar-input {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--black-color);
	font-weight: 500;
	font-size: 16px;
	resize: none;
	overflow: hidden;
	outline: none;

	height: auto;
	width: 90%;
	transition: height 0.2s ease;
}
.dosai__chat-bar-btn {
	transition: box-shadow 0.2s ease;
	&:hover {
		box-shadow: 0px 4px 4px 0 rgba(24, 42, 100, 0.25);
	}
	img {
		width: 27px;
		height: 27px;
		background-color: var(--black-color);
		padding: 10px 8px;
		border-radius: 3px;
	}
}

.dosai__user-msg {
	padding: 20px;
	font-size: 16px;
	font-weight: 500;
	background-color: var(--general-color);
	max-width: 600px;
	align-self: end;
	color: var(--white-color);
	border-radius: 9px;
	box-shadow: -4px 5px 17px 2px rgba(37, 139, 88, 0.7);
}

.dosai__bot-msg {
	padding: 20px;
	background-color: var(--black-color);
	font-size: 16px;
	font-weight: 500;
	max-width: 600px;
	align-self: flex-start;
	color: var(--white-color);
	border-radius: 9px;
	box-shadow: 4px 5px 17px 2px rgba(24, 42, 100, 0.7);
}
