.footer {
	background-color: var(--general-color);
	font-size: 14px;
	line-height: 1.8;
	color: #fff;
	padding: 50px 0;
	@media (max-width: $tablet-landscape) {
		font-size: 12px;
	}
	@media (max-width: $tablet-portrait) {
		font-size: 10px;
		padding: 30px 0;
	}
	@media (max-width: $medium-mobile) {
		padding: 20px;
	}
	@media (max-width: $small-mobile) {
		padding: 15px 0 20px !important;
	}
}

.footer__row {
	display: flex;
	// flex-wrap: wrap;
	gap: 80px;
	@media (max-width: $tablet-portrait) {
		font-size: 10px;
		gap: 10px;
	}
	@media (max-width: $medium-mobile) {
		flex-wrap: wrap;
		justify-content: center;
	}
	@media (max-width: $small-mobile) {
		// flex-wrap: nowrap;
		// flex-direction: column;
		justify-content: center;
	}
}

.footer__info {
	display: grid;
	gap: 5px;
	@media (max-width: $medium-mobile) {
		display: flex;
		margin-bottom: 15px;
		gap: 30px;
	}
	@media (max-width: $small-mobile) {
		display: grid;
		justify-items: center;
		gap: 50px;
	}
}

.footer__logo {
	width: 172px;
	height: 44px;
	@media (max-width: $medium-mobile) {
		width: 162px;
		height: 22px;
	}
}

.footer__text {
	width: 220px;
	font-weight: 400;
	@media (max-width: $medium-mobile) {
		width: 100%;
	}
	@media (max-width: $small-mobile) {
		font-size: 14px;
	}
}

.footer__about,
.footer__services {
	@media (max-width: $medium-mobile) {
		width: 48%;
	}
	@media (max-width: $small-mobile) {
		// width: 100%;
		font-size: 14px;
	}
}

.footer__contacts {
	@media (max-width: $medium-mobile) {
		margin-top: 20px;
		display: flex;
		width: 100%;
		gap: 10px;
		.helpinfo {
			width: 50%;
		}
		.footer__links {
			width: 50%;
			align-self: center;
		}
	}
	@media (max-width: $small-mobile) {
		font-size: 14px;
		text-align: start;
		display: grid;
		gap: 10px;
		justify-items: center;
	}
}

.footer-title {
	color: var(--secondary-color);
	font-size: 16px;
	font-weight: 500;
	@media (max-width: $tablet-portrait) {
		font-size: 12px;
	}
	@media (max-width: $small-mobile) {
		font-size: 14px;
	}
}

.footer__about-title,
.footer__services-title,
.footer__contacts-title {
	margin-bottom: 7px;
	@media (max-width: $small-mobile) {
		font-size: 14px;
	}
}

.footer__about-list,
.footer__services-list {
	display: grid;
	gap: 10px;
}

.footer-item {
	a {
		color: #fff;
		transition: all 0.2s ease;
		&:hover {
			color: var(--secondary-color);
			text-decoration: underline;
		}
	}
}

.footer__contacts-text {
	position: relative;
	margin-bottom: 10px;
	&:nth-child(5) {
		margin-bottom: 20px;
	}
	padding-left: 30px;

	&::before {
		content: '';
		width: 24px;
		height: 24px;
		position: absolute;
		left: 0;
		top: 0;
		background-repeat: no-repeat;
		background-position: left;
		@media (max-width: $small-mobile) {
			background-size: 22px;
			width: 28px;
			height: 28px;
		}
	}
	&-1 {
		&::before {
			background-image: url('../../img/footer/mail-icon.svg');
		}
	}
	&-2 {
		&::before {
			background-image: url('../../img/footer/location-icon.svg');
			@media (max-width: $small-mobile) {
				background-size: 20px;
			}
		}
	}
	&-3 {
		&::before {
			background-image: url('../../img/footer/phone-icon.svg');
		}
	}
	&-4 {
		&::before {
			background-image: url('../../img/footer/fax-icon.svg');
		}
	}
}

.footer__links {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	column-gap: 20px;
	row-gap: 30px;
	width: 200px;
	@media (max-width: $medium-mobile) {
		align-items: center;
		row-gap: 60px;
	}
	@media (max-width: $small-mobile) {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		row-gap: 10px;
		column-gap: 10px;
		padding: 0;
		margin: 0;
	}
}

.footer__link {
	opacity: 0.9;
	img {
		width: 22px;
		height: 22px;
		@media (max-width: $tablet-landscape) {
			width: 20px;
			height: 20px;
		}
		@media (max-width: $medium-mobile) {
			width: 22px;
			height: 22px;
		}
	}
	transition: all 0.2s ease;
	&:hover {
		opacity: 1;
		scale: 1.05;
	}
	@media (max-width: $small-mobile) {
		width: 26px;
		height: 26px;
		img {
			width: 26px;
			height: 26px;
		}
	}
}
