.footer {
	background-color: var(--general-color);
	font-size: 14px;
	line-height: 1.8;
	color: #fff;
	padding: 50px 0 0;
	@media (max-width: $tablet-landscape) {
		font-size: 12px;
	}
}

.footer__row {
	display: flex;
	gap: 80px;
}

.footer__info {
	display: grid;
	gap: 5px;
}
.footer__logo {
	width: 172px;
	height: 44px;
}
.footer__text {
	width: 220px;
	font-weight: 400;
}

.footer-title {
	color: var(--secondary-color);
	font-size: 16px;
	font-weight: 500;
}

.footer__about-title,
.footer__services-title,
.footer__contacts-title {
	margin-bottom: 7px;
}

.footer__about-list,
.footer__services-list {
	display: grid;
	gap: 10px;
}

.footer-item {
	a {
		color: #fff;
		transition: all 0.2s ease;
		&:hover {
			color: var(--secondary-color);
			text-decoration: underline;
		}
	}
}

.footer__contacts-text {
	position: relative;
	margin-bottom: 10px;
	&:nth-child(5) {
		margin-bottom: 20px;
	}
	padding-left: 30px;

	&::before {
		content: '';
		width: 24px;
		height: 24px;
		position: absolute;
		left: 0;
		top: 0;
		background-repeat: no-repeat;
		background-position: left;
	}
	&-1 {
		&::before {
			background-image: url('../../img/footer/mail-icon.svg');
		}
	}
	&-2 {
		&::before {
			background-image: url('../../img/footer/location-icon.svg');
		}
	}
	&-3 {
		&::before {
			background-image: url('../../img/footer/phone-icon.svg');
		}
	}
	&-4 {
		&::before {
			background-image: url('../../img/footer/fax-icon.svg');
		}
	}
}

.footer__links {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	column-gap: 20px;
	row-gap: 30px;
	width: 200px;
}

.footer__link {
	opacity: 0.9;
	img {
		width: 22px;
		height: 22px;
		@media (max-width: $tablet-landscape) {
			width: 20px;
			height: 20px;
		}
	}
	transition: all 0.2s ease;
	&:hover {
		opacity: 1;
		scale: 1.05;
	}
}
