.header-wrapper {
	position: relative;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	background-color: var(--general-color);
	padding: 17px 0;
	box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5);

	transition: background-color 0.2s ease-out;
	&.header-active {
		background-color: transparent;
		box-shadow: none;
	}

	&.fixed {
		position: fixed;
		width: 100%;
		animation: fixedAppearance 0.2s ease-in alternate;
	}
	// Appearance
	@keyframes fixedAppearance {
		from {
			transform: translateY(-100px);
		}
		to {
			transform: translateY(0);
		}
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 56px;
		z-index: 10;
		@media (max-width: $tablet-landscape) {
			gap: 26px;
		}
	}
	&__logo {
		cursor: pointer;
		width: 177px;
		img {
			object-fit: contain;
			width: 177px;
			height: 44px;
			@media (max-width: $tablet-portrait) {
				width: 169px;
				height: 36px;
			}
			&:hover {
				filter: drop-shadow(10px);
			}
		}
	}
}

.header__nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	column-gap: 40px;
	margin-right: 25px;
	text-align: center;

	@media (max-width: $tablet-portrait) {
		display: none;
	}

	&-item {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 14px;
		font-weight: 500;
		cursor: pointer;
		@media (max-width: $tablet-landscape) {
			font-size: 12px;
		}

		&-main {
			position: relative;
			color: var(--white-color);
			transition: color 0.2s ease;
			padding: 30px;
			margin: -30px;
			background-color: var(--general-color);
			&:hover {
				color: var(--secondary-color);
			}
			@media (max-width: $tablet-landscape) {
				padding: 30px 8px;
				margin: -30px -10px;
			}
			&-padding {
				@media (max-width: $tablet-landscape) {
					padding: 24px;
					margin: -24px;
				}
				@media (max-width: $small-desktop) {
					padding: 24px;
				}
			}
		}

		&-dropdown {
			scale: 1 0;
			opacity: 0;
			// general positioning
			position: absolute;
			transition: opacity 0.3s ease-out, top 0.3s ease-out;
			top: 28px;
			left: 50%;
			z-index: 99;
			transform: translate(-50%, 0);
			// inside positioning
			li {
				display: block;
				text-align: center;
				padding: 11px 30px;
				width: 100%;
				background-color: var(--general-tint-color);

				// margin-bottom: -1px;
				border-bottom: 1px solid var(--secondary-color);
				transition: background-color 0.2s ease;
				a {
					text-decoration: none;
					color: var(--white-color);
				}
				&:hover {
					background-color: var(--general-tint-2-color);
					color: var(--secondary-color);
				}
				&:last-child {
					border-bottom: 0;
					border-radius: 0 0 9px 9px;
				}
			}
			@media (max-width: $tablet-portrait) {
				opacity: 1;
			}
		}
		&:hover .header__nav-item-dropdown {
			opacity: 1;
			top: 48px;
			scale: 1 1;
			@media (max-width: $tablet-landscape) {
				top: 47px;
			}
			&-padding {
				@media (max-width: $small-desktop) {
					top: 42px;
				}
				@media (max-width: $tablet-landscape) {
					top: 54px;
				}
			}
			@media (max-width: $tablet-landscape) {
				opacity: 1;
			}
		}
	}
}

#language-change {
	.header__nav-item-main {
		display: flex;
		align-items: center;
		gap: 10px;
		img {
			transition: scale 0.2s ease;
		}
		&:hover img {
			scale: 1.1;
		}

		padding: 28px;
		margin: -28px;
	}

	.header__nav-item-dropdown li a {
		display: flex;
		align-items: center;
		gap: 10px;
		img {
			transition: scale 0.2s ease;
		}
		&:hover img {
			scale: 1.1;
		}
	}
}

.mobile-nav-btn {
	z-index: 105;
}
