.news__picture {
	height: 100%;
	background: url('../../img/news/parallax-pic.jpg') center no-repeat;
	background-size: auto;
	background-attachment: fixed;
	@media (max-width: $tablet-portrait) {
		background-size: cover;
	}
}

.news__title {
	margin-bottom: 10px;
	.title {
		color: var(--white-color);
	}

	@media (max-width: $medium-mobile) {
		.title {
			font-size: 24px;
		}
		.title-line {
			height: 24px;
		}
	}
}

.news__picture-text {
	padding: 67px 0;
	a,
	p,
	h1 {
		color: var(--white-color);
	}
	.news__nav {
		cursor: pointer;
		font-size: 16px;
		font-weight: 500;
	}
	a {
		&:hover {
			text-decoration: underline;
		}
	}
}

.news__line {
	margin: 15px auto;
	background-color: var(--secondary-color);
	width: 100%;
	height: 3px;
	border-radius: 3px;
	&--top {
		margin-bottom: 35px;
	}
	&--bottom {
		margin-top: 35px;
	}
}

.news__row {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	row-gap: 40px;
	column-gap: 20px;
	@media (max-width: $small-desktop) {
		column-gap: 16px;
	}
	@media (max-width: $tablet-landscape) {
		column-gap: 22px;
		justify-content: center;
	}
}

.news__pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 18px;
	@media (max-width: $medium-mobile) {
		gap: 12px;
	}
	&--top {
		margin: 85px 0 10px;
		@media (max-width: $tablet-landscape) {
			margin: 45px 0 10px;
		}
	}
	&--bottom {
		margin: 10px 0 85px;
		@media (max-width: $tablet-landscape) {
			margin: 10px 0 45px;
		}
	}
}

.news__pagination-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 27px;
	background-color: var(--general-color);
	border-radius: 3px;
	transition: all 0.2s ease;
	&:hover {
		background-color: var(--general-tint-color);
		box-shadow: 0 2px 10px 0 rgba(243, 168, 0, 0.25);
	}
}

.news__pagination-page-btns {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 12px;
	row-gap: 8px;
	max-width: 1180px;
}

.news__pagination-page {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 27px;
	background-color: var(--white-color);
	border: 1px solid var(--general-color);
	border-radius: 3px;
	color: var(--general-color);
	font-weight: 500;
	font-size: 14px;
	transition: all 0.2s ease;
	&:hover {
		border-color: var(--black-color);
		color: var(--black-color);
	}
	&.active {
		border: 0;
		background-color: var(--general-color);
		color: var(--white-color);
	}
}

// NEWS CARD ======================================
.news__card {
	width: 305px;
	// height: 600px;
	box-shadow: 0 0 10px 2px rgba(24, 86, 56, 0.2);
	border-radius: 9px;
	@media (max-width: $small-desktop) {
		width: 300px;
	}
	@media (max-width: $medium-mobile) {
		width: 80%;
	}
	@media (max-width: $small-mobile) {
		width: 100%;
	}
}

.news__card-image {
	display: flex;
	justify-content: center;
	overflow: hidden;
	border-radius: 9px 9px 0 0;
	margin-bottom: 20px;
	height: 200px;
	img {
		width: 100%;
		height: 100%;
		transition: scale 0.2s ease;
		&:hover {
			scale: 1.05;
		}
	}
}
.news__card-contetnt {
	padding: 0 20px 5px;
	height: 280px;
	@media (max-width: $small-mobile) {
		height: 290px;
	}
}
.news__card-title {
	max-height: 33px;
	height: 100%;
	font-weight: 700;
	font-size: 14px;
	color: var(--black-color);
	margin-bottom: 10px;
}

.news__card-text {
	font-weight: 300;
	font-size: 14px;
	color: var(--gray-color);

	padding-bottom: 10px;
	border-bottom: 1px solid var(--gray-color);
	margin-bottom: 10px;
}

.news__card-link {
	font-weight: 600;
	font-size: 14px;
	color: var(--white-color);

	border-radius: 0 0 9px 9px;
	width: 100%;
	height: 70px;
	color: var(--white-color);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--general-color);
	transition: background-color 0.2s ease;
	&:hover {
		background-color: var(--general-tint-color);
	}
}

.news__card-date {
	font-weight: 400;
	font-size: 14px;
	color: #000;
	padding-left: 25px;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: -2px;
		left: 0;
		height: 20px;
		width: 20px;
		background-image: url('../../img/news/calendar_icon-card.svg');
		background-position: center;
		background-repeat: no-repeat;
	}
}

// ====================================== NEWS CARD

// NEWS PAGE ========================================

.newsletter__title {
	text-align: center;
	font-size: 30px;
	font-weight: 800;
	color: #000;
	margin: 85px 0 10px;
	@media (max-width: $small-mobile) {
		margin: 45px 0 10px;
		font-size: 22px;
	}
}

.newsletter__date {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	p {
		color: var(--gray-color);
		font-weight: 400;
		font-size: 16px;
	}
	margin: 10px 0 10px;

	@media (max-width: $small-mobile) {
		font-size: 14px;
	}
}

.newsletter__oyu {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 35px 0 10px;
	position: relative;
	img {
		height: 12px;
		width: 200px;
		@media (max-width: $small-mobile) {
			height: 10px;
			width: 120px;
		}
	}
	&::before,
	&::after {
		border-radius: 3px;
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 42%;
		height: 3px;
		background-color: var(--secondary-color);
		@media (max-width: $tablet-landscape) {
			width: 40%;
		}
		@media (max-width: $tablet-portrait) {
			width: 38%;
		}
		@media (max-width: $medium-mobile) {
			width: 30%;
		}
		@media (max-width: $small-mobile) {
			width: 26%;
		}
	}
	&::before {
		left: 0;
	}
	&::after {
		right: 0;
	}
}

.newsletter__text {
	font-size: 16px;
	font-weight: 500;
	color: #000;
	line-height: 1.7;
	text-indent: 20px;
	&::first-letter {
		font-size: 32px;
	}
	&::first-line {
		line-height: 1.2;
	}
	@media (max-width: $small-mobile) {
		font-size: 12px;
		&::first-letter {
			font-size: 28px;
		}
	}
}

// SWIPER IMAGE

.newsletter__swiper {
	width: 800px;
	height: 100px;

	border-radius: 3px;

	@media (max-width: $tablet-portrait) {
		width: 700px;
		height: 90px;
	}
	@media (max-width: $medium-mobile) {
		width: 450px;
		height: 60px;
	}
	@media (max-width: $small-mobile) {
		width: 300px;
		height: 45px;
	}

	.swiper-slide {
		cursor: pointer;
		overflow: hidden;
		img {
			transition: scale 0.2s ease;
			height: 100%;
			width: 100%;
			&:hover {
				scale: 1.05;
			}
			&:active {
				scale: 1;
			}
		}
	}
	margin-top: 5px;
	margin-bottom: 15px;
}

.newsletter__swiper-2 {
	width: 800px;
	height: 100%;
	@media (max-width: $tablet-portrait) {
		width: 700px;
	}
	@media (max-width: $medium-mobile) {
		width: 450px;
	}
	@media (max-width: $small-mobile) {
		width: 300px;
	}
	img {
		border-radius: 9px 9px 0 0;
	}
}
