.services {
	margin-bottom: 85px;
	@media (max-width: $tablet-landscape) {
		margin-bottom: 75px;
	}
	@media (max-width: $tablet-portrait) {
		margin-bottom: 65px;
	}
}

.services__row {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 28px;
	grid-template-areas:
		'time news news ai-chat'
		'time actions events events'
		'courses courses events events';
	width: 100%;
	height: 1080px;
	.services__action {
		box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.25);
		border-radius: 9px;
		transition: box-shadow 0.2s ease;
		&:hover {
			box-shadow: 2px 2px 12px 4px rgba(0, 0, 0, 0.25);
		}
	}
	@media (max-width: $tablet-landscape) {
		grid-template-rows: repeat(3, 250px);
		gap: 18px;
		height: auto;
	}
	@media (max-width: $tablet-portrait) {
		grid-template-rows: repeat(3, 200px);
		gap: 16px;
	}
	@media (max-width: $medium-mobile) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(6, 200px);
		gap: 12px;
		grid-template-areas:
			'time time'
			'news news'
			'ai-chat actions'
			'courses courses'
			'events events'
			'events events';
	}
	@media (max-width: $small-mobile) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 200px 200px 180px 200px 250px 180px 200px 200px;
		gap: 12px;
		grid-template-areas:
			'time time'
			'time time'
			'news news'
			'ai-chat ai-chat'
			'actions actions'
			'courses courses'
			'events events'
			'events events';
	}
}

// TIME ==========================================

.services__time {
	position: relative;
	grid-area: time;
	background: linear-gradient(
		180deg,
		var(--general-color) 0%,
		var(--black-color) 100%
	);
	padding: 26px;
	&-item {
		// text-align: center;
		padding-bottom: 20px;
		&:not(:first-child) {
			margin-top: 20px;
		}
		&:not(:last-child) {
			border-bottom: 3px solid rgba(249, 189, 77, 0.8);
		}
	}
	&-num {
		font-size: 32px;
		font-weight: 600;
		color: var(--secondary-color);
		opacity: 0.8;
	}
	&-text {
		font-family: var(--font-family);
		font-weight: 800;
		font-size: 16px;
		color: var(--white-color);
		opacity: 0.8;
	}

	&::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url('../../img/services/book-logo.svg');
		background-repeat: no-repeat;
		background-position: left 50% bottom 26px;
		pointer-events: none;
	}

	@media (max-width: $tablet-landscape) {
		&-item {
			padding-bottom: 18px;
			&:not(:first-child) {
				margin-top: 18px;
			}
		}
		&-num {
			font-size: 28px;
		}
		&-text {
			font-family: var(--font-family);
			font-weight: 800;
			font-size: 12px;
			color: var(--white-color);
			opacity: 0.8;
		}
		&::after {
			background-size: 180px;
		}
	}
	@media (max-width: $tablet-portrait) {
		padding: 12px;
		&-item {
			padding-bottom: 12px;
			&:not(:first-child) {
				margin-top: 12px;
			}
		}
		&-num {
			font-size: 22px;
		}
		&-text {
			font-family: var(--font-family);
			font-weight: 800;
			font-size: 10px;
			color: var(--white-color);
			opacity: 0.8;
		}
		&::after {
			background-size: 120px;
		}
	}
	@media (max-width: $medium-mobile) {
		&-text {
			font-size: 12px;
			margin-bottom: 0;
		}
		&-item {
			width: 60%;
			padding-bottom: 5px;
			&:not(:first-child) {
				margin-top: 10px;
			}
		}
		&::after {
			background-size: 130px;
			background-position: 290px;
		}
	}
	@media (max-width: $small-mobile) {
		padding: 20px;
		&-text {
			font-size: 16px;
		}
		&-num {
			font-size: 26px;
		}
		&-item {
			width: 100%;
			padding-bottom: 5px;
			&:not(:first-child) {
				margin-top: 20px;
			}
		}
		&::after {
			background-size: 120px;
			background-position: 50% 250px;
		}
	}
}

// *NEWS =============================================

.services__news {
	grid-area: news;
	background-color: #185638;
	overflow: hidden;
	position: relative;
}

.services__news-swiper {
	width: 100%;
	height: 100%;
	.swiper-slide {
		position: relative;
		img {
			object-fit: cover;
		}
	}
	img {
		width: 100%;
		height: 100%;
	}
	position: relative;
}

.swiper-button-prev.services__arrow,
.swiper-button-next.services__arrow {
	width: 18px;
	height: 14px;
	position: absolute;
	top: 50%;
	transform: translateY(50%);
	scale: 1;
	transition: scale 0.2s ease;
	&::after {
		content: '';
	}
	&:hover {
		scale: 1.08;
	}
	&:active {
		scale: 0.9;
	}
	@media (max-width: $tablet-portrait) {
		width: 14px;
		height: 10px;
	}
}

.swiper-button-prev.services__arrow {
	left: 7px;
	@media (max-width: $tablet-portrait) {
		left: 3px;
	}
}
.swiper-button-next.services__arrow {
	right: 7px;
	@media (max-width: $tablet-portrait) {
		right: 30px;
	}
}

.services__news-title {
	position: absolute;
	bottom: 90px;
	left: 25px;
	z-index: 8;

	padding: 3px 12px;
	background-color: var(--general-color);
	color: var(--white-color);
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 800;
	@media (max-width: $tablet-landscape) {
		font-size: 12px;
	}
	@media (max-width: $tablet-portrait) {
		font-size: 10px;
		bottom: 80px;
	}
	@media (max-width: $medium-mobile) {
		bottom: 70px;
	}
	@media (max-width: $small-mobile) {
		top: 10px;
		height: 20px;
		left: 10px;
	}
}

.services__news-desc {
	position: absolute;
	left: 30px;
	bottom: 70px;
	color: var(--white-color);
	font-size: 16px;
	font-weight: 600;
	@media (max-width: $tablet-landscape) {
		font-size: 14px;
	}
	@media (max-width: $tablet-portrait) {
		font-size: 12px;
		bottom: 50px;
	}
	@media (max-width: $medium-mobile) {
		font-size: 14px;
	}
}

.services__news-link {
	position: absolute;
	left: 30px;
	bottom: 30px;
	color: var(--secondary-color);
	font-size: 16px;
	font-weight: 600;
	filter: drop-shadow(2px 2px 1px black);
	transition: filter 0.2s ease;
	&:hover {
		filter: drop-shadow(2px 2px 2px black);
	}

	@media (max-width: $tablet-landscape) {
		font-size: 12px;
	}
	@media (max-width: $tablet-portrait) {
		font-size: 10px;
	}
	@media (max-width: $medium-mobile) {
		font-size: 14px;
		bottom: 20px;
	}
}

// AI CHAT ==========================================

.services__ai-chat {
	grid-area: ai-chat;
	background-color: var(--general-color);
	transition: background-color 0.2s ease;
	&:hover {
		background-color: var(--general-tint-color);
	}
	&-link {
		background: url('../../img/services/logo-dosai-white-bg.svg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 90%;
		display: flex;
		flex-direction: column;
		gap: 47px;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		position: relative;
		transition: background-size 0.5s ease;
		&:hover {
			background-size: 100%;
			.services__ai-chat-logo {
				scale: 1.05;
			}
			.services__ai-chat-text {
				color: var(--secondary-color);
			}
		}
		@media (max-width: $tablet-portrait) {
			background-size: 180px;
		}
	}
	&-logo {
		width: 137px;
		height: 129px;
		transition: scale 0.2s ease;
		@media (max-width: $tablet-portrait) {
			width: 130px;
			height: 119px;
		}
		@media (max-width: $tablet-portrait) {
			width: 110px;
			height: 98px;
		}
	}
	&-text {
		font-size: 16px;
		font-weight: 800;
		color: var(--white-color);
		position: absolute;
		bottom: 50px;
		transition: color 0.2s ease;

		@media (max-width: $tablet-landscape) {
			bottom: 35px;
			font-size: 14px;
		}
		@media (max-width: $tablet-portrait) {
			bottom: 30px;
			font-size: 12px;
		}
		@media (max-width: $medium-mobile) {
			bottom: 20px;
			font-size: 14px;
		}
	}
}

// ACTIONS =======================================
.services__actions {
	grid-area: actions;
	position: relative;
	&-row {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 20px 30px 40px;
		@media (max-width: $tablet-landscape) {
			padding: 12px;
		}
		@media (max-width: $tablet-portrait) {
			padding: 10px;
		}
	}
	&-title {
		// position: absolute;
		text-align: center;
		font-size: 16px;
		font-weight: 800;
		color: var(--general-color);
		margin-bottom: 20px;
		@media (max-width: $tablet-landscape) {
			font-size: 12px;
		}
		@media (max-width: $tablet-portrait) {
			font-size: 10px;
			margin-bottom: 10px;
		}
		@media (max-width: $small-mobile) {
			font-size: 14px;
		}
	}
}
.services__actions-icons {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	row-gap: 5px;
}

.services__actions-icon {
	padding: 2px 0;
	display: flex;
	gap: 10px;
	align-items: center;
	width: 100%;
	@media (max-width: $tablet-landscape) {
		padding: 0;
	}
	@media (max-width: $small-mobile) {
		padding: 2px;
	}
	&:not(:last-child) {
		border-bottom: 1px solid rgba(149, 140, 155, 0.2);
	}
	svg {
		transition: all 0.2s ease;
		height: 42px;
		width: 42px;
		@media (max-width: $tablet-landscape) {
			height: 32px;
			width: 32px;
		}
		@media (max-width: $tablet-portrait) {
			height: 26px;
			width: 26px;
		}
		@media (max-width: $small-mobile) {
			height: 32px;
			width: 32px;
		}
	}
	svg path {
		stroke: var(--gray-color);
	}
	&:nth-child(3) svg path,
	&:nth-child(6) svg path {
		stroke: none;
	}
	&:hover {
		svg {
			scale: 1.2;
		}
		svg path {
			stroke: var(--general-color);
		}
		&:nth-child(3) svg path,
		&:nth-child(6) svg path {
			stroke: none;
			fill: var(--general-color);
		}
		.services__actions-text {
			color: var(--gray-tint-color);
		}
	}
}

.services__actions-text {
	font-size: 14px;
	font-weight: 700;
	color: var(--gray-color);
	text-align: center;
	transition: color 0.2s ease;
	flex-shrink: 12;
	@media (max-width: $tablet-landscape) {
		font-size: 10px;
	}
	@media (max-width: $small-mobile) {
		font-size: 12px;
	}
}

// EVENTS =========================================
.services__events {
	grid-area: events;
	&-row {
		width: 100%;
		height: 100%;
		border-radius: 9px;
	}
}

.services__events-swiper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 9px;
	position: relative;
	.swiper-wrapper {
		position: relative;
	}
}

.services__events-slide-image {
	display: block;
	position: relative;
	height: auto;
	width: 100%;
	&:hover {
		img {
			scale: 1.03;
		}
		.services__events-slide-shadow {
			box-shadow: inset 0 100px 115px 0 var(--general-tint-color);
		}
	}
	img {
		width: 100%;
		height: 100%;
		transition: scale 0.4s ease;
	}
	.services__events-slide-shadow {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 8;
		box-shadow: inset 0 80px 110px 0 var(--general-tint-color);
		transition: box-shadow 0.3s ease-in;
	}
}

.services__events-slide-content {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 12;
	width: 100%;
	background: linear-gradient(
		180deg,
		var(--general-color) 0%,
		var(--black-color) 100%
	);
	// border-radius: 32px 32px 9px 9px;
	border-top: 4px solid var(--secondary-color);
	padding: 30px 30px 10px;
	height: 220px;
	transition: height 0.4s ease-in-out;
	&:hover {
		height: 50%;
		.services__events-slide-desc {
			opacity: 1;
		}
		@media (max-width: $tablet-landscape) {
			height: 55%;
		}
		@media (max-width: $tablet-portrait) {
			height: 60%;
		}
		@media (max-width: $small-mobile) {
			height: 79%;
		}
	}
	@media (max-width: $tablet-landscape) {
		padding: 20px 20px 10px;
		height: 180px;
	}
	@media (max-width: $tablet-portrait) {
		height: 150px;
	}
	@media (max-width: $small-mobile) {
		height: 180px;
	}
}

.services__events-slide-title {
	font-weight: 800;
	font-size: 30px;
	color: var(--white-color);
	width: 100%;
	border-bottom: 3px solid rgba(249, 189, 77, 0.8);
	padding-bottom: 2px;
	margin-bottom: 10px;
	@media (max-width: $tablet-landscape) {
		font-size: 26px;
		border-bottom: 2px solid rgba(249, 189, 77, 0.8);
	}
	@media (max-width: $tablet-portrait) {
		font-size: 20px;
	}
}

.services__events-slide-location {
	font-weight: 600;
	font-size: 22px;
	color: var(--white-color);
	padding-left: 30px;
	margin-bottom: 10px;
	position: relative;
	@media (max-width: $tablet-landscape) {
		font-size: 16px;
	}
	@media (max-width: $tablet-portrait) {
		font-size: 14px;
	}
	&:before {
		content: '';
		width: 22px;
		height: 22px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background-image: url('../../img/services/events-door-icon.svg');
		background-position: center;
		background-repeat: no-repeat;
		@media (max-width: $tablet-landscape) {
			width: 20px;
			height: 20px;
		}
	}
}
.services__events-slide-date {
	font-weight: 600;
	font-size: 22px;
	color: var(--white-color);
	padding-left: 30px;
	margin-bottom: 10px;
	position: relative;
	@media (max-width: $tablet-landscape) {
		font-size: 16px;
	}
	@media (max-width: $tablet-portrait) {
		font-size: 14px;
	}
	&:before {
		content: '';
		width: 22px;
		height: 22px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background-image: url('../../img/services/events-calendar-icon.svg');
		background-position: center;
		background-repeat: no-repeat;
		@media (max-width: $tablet-landscape) {
			width: 20px;
			height: 20px;
		}
		@media (max-width: $tablet-portrait) {
			width: 18px;
			height: 18px;
		}
	}
}
.services__events-slide-time {
	font-weight: 600;
	font-size: 22px;
	color: var(--secondary-color);
	padding-left: 30px;
	margin-bottom: 10px;
	position: relative;
	@media (max-width: $tablet-landscape) {
		font-size: 16px;
	}
	@media (max-width: $tablet-landscape) {
		font-size: 14px;
	}
	&:before {
		content: '';
		width: 22px;
		height: 22px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		background-image: url('../../img/services/events-time-icon.svg');
		background-position: center;
		background-repeat: no-repeat;
		@media (max-width: $tablet-landscape) {
			width: 20px;
			height: 20px;
		}
	}
}
.services__events-slide-desc {
	margin-top: 15px;
	font-weight: 400;
	color: var(--white-color);
	opacity: 0;
	line-height: 1.7;
	transition: opacity 0.3s ease;
	@media (max-width: $tablet-landscape) {
		margin-top: 12px;
		line-height: 1.4;
	}
	@media (max-width: $tablet-portrait) {
		font-size: 12px;
		margin-top: 10px;
	}
	@media (max-width: $small-mobile) {
		font-size: 14px;
	}
}

// PAGINATION EVENTS
.swiper-button-prev.services__events-arrow,
.swiper-button-next.services__events-arrow {
	// opacity: 1 !important;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 50px;
	width: 42px;
	height: 37px;
	border-radius: 3px;
	&::after {
		content: '';
	}
	transition: box-shadow 0.1s ease-out, scale 0.1s ease-in;
	&:hover {
		scale: 1.2;
	}
	&:active {
		scale: 0.9;
	}
	@media (max-width: $tablet-portrait) {
		top: 40px;
	}
}
.services__events-arrow.swiper-button-prev {
	left: 500px;
	@media (max-width: $tablet-landscape) {
		left: 350px;
	}
	@media (max-width: $tablet-portrait) {
		left: 250px;
	}
	@media (max-width: $small-mobile) {
		left: 160px;
	}
}
.services__events-arrow.swiper-button-next {
	right: 20px;
	@media (max-width: $tablet-portrait) {
		right: 10px;
	}
}

// *COURCES ==========================================
.services__courses {
	grid-area: courses;
	background-color: #185638;
	overflow: hidden;
	position: relative;
}

.services__courses-swiper {
	width: 100%;
	height: 100%;
	img {
		width: 100%;
		height: 100%;
	}
	position: relative;
}

.swiper-button-prev.services__arrow,
.swiper-button-next.services__arrow {
	width: 18px;
	height: 14px;
	position: absolute;
	top: 50%;
	transform: translateY(50%);
	scale: 1;
	transition: scale 0.2s ease;
	&::after {
		content: '';
	}
	&:hover {
		scale: 1.08;
	}
	&:active {
		scale: 0.9;
	}
}
.swiper-button-prev.services__arrow {
	left: 7px;
}
.swiper-button-next.services__arrow {
	right: 7px;
}

.services__courses-title {
	position: absolute;
	bottom: 90px;
	left: 25px;
	z-index: 8;

	padding: 3px 12px;
	background-color: var(--general-color);
	color: var(--white-color);
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 800;

	@media (max-width: $tablet-landscape) {
		font-size: 12px;
	}
	@media (max-width: $tablet-portrait) {
		font-size: 10px;
	}
	@media (max-width: $medium-mobile) {
		bottom: 70px;
	}
	@media (max-width: $small-mobile) {
		top: 10px;
		height: 20px;
		left: 10px;
	}
}

.services__—Åourses-desc {
	position: absolute;
	left: 30px;
	bottom: 70px;
	color: var(--white-color);
	font-size: 16px;
	font-weight: 600;
	@media (max-width: $tablet-landscape) {
		font-size: 14px;
	}
	@media (max-width: $tablet-portrait) {
		font-size: 12px;
		bottom: 50px;
	}
	@media (max-width: $medium-mobile) {
		font-size: 14px;
	}
}

.services__courses-link {
	position: absolute;
	left: 30px;
	bottom: 30px;
	color: var(--secondary-color);
	font-size: 16px;
	font-weight: 600;
	filter: drop-shadow(2px 2px 1px black);
	transition: filter 0.2s ease;
	&:hover {
		filter: drop-shadow(2px 2px 2px black);
	}
	@media (max-width: $tablet-landscape) {
		font-size: 12px;
	}
	@media (max-width: $tablet-portrait) {
		font-size: 10px;
	}
	@media (max-width: $medium-mobile) {
		font-size: 14px;
		bottom: 20px;
	}
}
