.tour {
	margin-bottom: 85px;
}

.tour__title {
	margin-bottom: 40px;
}

.tour__box {
	display: flex;
	gap: 25px;
	position: relative;
}

.tour__list {
	margin-left: 15px;
}

.tour__swiper {
	width: 280px;
	height: 487px;

	overflow: hidden;
	.swiper-wrapper {
		width: 100%;
		height: 100%;
	}
	.swiper-slide {
		cursor: pointer;
		display: flex;
		align-items: center;
		font-size: 14px;
		font-weight: 700;
		color: var(--gray-color);
		padding: 21px 5px;

		transition: color 0.2s ease;
		&:not(:last-child) {
			border-bottom: 1px solid #efefef;
		}
		&:hover {
			color: var(--gray-tint-color);
		}
		&.active {
			transition: background-color 0.2s ease-in;
			background-color: var(--general-color);
			color: var(--white-color);
			border-bottom: 0;
			border-radius: 9px;
		}
	}
}

.tour__images {
	position: relative;
	padding-top: 30px;
	display: grid;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	row-gap: 23px;
	column-gap: 21px;
	grid-template-areas:
		'image-1 image-2 image-4'
		'image-1 image-3 image-4';
}

.tour__image {
	width: 100%;
	height: 100%;
	border-radius: 9px;
	overflow: hidden;
	img {
		border-radius: 9px;
		transition: scale 0.5s ease;
		&:hover {
			scale: 1.1;
		}
	}
	&-1 {
		height: 463px;
		width: 100%;
		grid-area: image-1;
	}
	&-2 {
		grid-area: image-2;
		width: 100%;
		height: 100%;
	}
	&-3 {
		grid-area: image-3;
		width: 100%;
		height: 100%;
	}
	&-4 {
		height: 463px;
		width: 100%;
		grid-area: image-4;
	}
}

.swiper-button-prev.tour__arrow,
.swiper-button-next.tour__arrow {
	opacity: 1 !important;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	width: 32px;
	height: 27px;
	background-color: var(--general-color);
	border-radius: 3px;
	&::after {
		content: '';
	}
	transition: box-shadow 0.1s ease-out, scale 0.1s ease-in;
	&:hover {
		box-shadow: 0 4px 10px rgba(243, 168, 0, 55%);
		scale: 1.02;
	}
	&:active {
		scale: 0.9;
	}
}
.tour__arrow.swiper-button-prev {
	left: 90%;
}

.tour__arrow.swiper-button-next {
	right: 0;
}

.tour__virtual-tour {
	font-size: 14px;
	font-weight: 600;
	background-color: #ffffff;
	color: var(--gray-color);
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 7px 23px;
	border-radius: 0 9px 0 9px;
	transition: color 0.2s ease;
	&:hover {
		color: var(--secondary-color);
		span {
			transform: rotate(135deg);
		}
	}
	span {
		display: inline-block;
		transition: transform 0.2s ease;
		color: var(--secondary-color);
	}
}
