{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="dosai__row">
            <div class="dosai__box"></div>
            <form action='/' class="dosai__chat-bar">
                <label for="chat-input"></label>
                <textarea maxlength="300" type="text" class="dosai__chat-bar-input" rows='1'
                          placeholder='Сообщение DosAI'></textarea>
                <button type='submit' class="dosai__chat-bar-btn">
                    <img src="{% static 'img/dosai/arrow-up.svg' %}" alt="Arrow up"/>
                </button>
                <button id="clear-chat-btn" class="dosai__clear-chat-btn">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </form>
        </div> <!-- /ROW -->
    </div> <!-- /CONTAINER -->

    <script src='{% static 'js/dosai.bundle.js' %}'></script>
{% endblock %}
