{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-4 mb-3">
        <a href="{% url 'events_index' %}" class="btn btn-info btn-block">Мероприятия</a>
      </div>
      <div class="col-md-4 mb-3">
        <a href="{% url 'chat_bot' %}" class="btn btn-info btn-block">Чат бот</a>
      </div>
      <div class="col-md-4 mb-3">
        <a href="{% url 'main' %}" class="btn btn-info btn-block">Проверить наличие книги</a>
      </div>
      <div class="col-md-4 mb-3">
        <a href="{% url 'courses_index' %}" class="btn btn-info btn-block">Курсы</a>
      </div>
        <div class="col-md-4 mb-3">
        <a href="{% url 'news' %}" class="btn btn-info btn-block">Новости</a>
      </div>
    </div>
  </div>
{% endblock %}
