{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    {% include 'section/hero-section.html' %}
    {% include 'section/featured-services.html' %}
    {% include 'section/services.html' %}
    {% include 'section/section-tour.html' %}
    {% include 'section/section-catalog.html' %}
{% endblock %}

{% block content_js %}

    {% include 'open-close.html' %}
    <script src="{% static 'js/news-swiper.js' %}"></script>
    <script src="{% static 'js/courses-swiper.js' %}"></script>
    <script src="{% static 'js/event.js' %}"></script>
    <script src="{% static 'js/tour-swiper.js' %}"></script>

{% endblock %}
