{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

        <div class="page-title light-background">
            <div class="container position-relative">
                <div>

                    <h1>{% block error_desc %}{% endblock %}</h1>
                </div>
                <nav class="breadcrumbs">
                    <ol>
                        <li><a href="/">{% trans 'home' %}</a></li>
                        <li class="current"> {% block error_img %}{% endblock %}{% block error_title %}{% endblock %}</li>
                    </ol>
                </nav>
            </div>


    </div>
{% endblock %}