{% load i18n %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const serverTime = new Date("{{ server_time|date:'c' }}");
        const clientTime = new Date();
        const timeDifference = serverTime - clientTime;
        const lang = "{{ LANGUAGE_CODE }}";

        const timeModelToday = {
            dateChange: "{{ time_model_today.date_change|date:'c' }}" || null,
            isHoliday: {{ time_model_today.is_holiday|yesno:"true,false" }},
            customTimeStart: "{{ time_model_today.custom_time_start|time:'H:i' }}" || null,
            customTimeEnd: "{{ time_model_today.custom_time_end|time:'H:i' }}" || null,
        };

        const timeModelNext = {
            dateChange: "{{ time_model_next.date_change|date:'c' }}" || "{{ time_model_next.date_change }}" || null,
            isHoliday: {{ time_model_next.is_holiday|yesno:"true,false" }},
            customTimeStart: "{{ time_model_next.custom_time_start|time:'H:i' }}" || null,
            customTimeEnd: "{{ time_model_next.custom_time_end|time:'H:i' }}" || null,
        };
        
        console.log(timeModelToday)
        console.log(timeModelNext)

        function updateTimes() {
            let now = new Date(new Date().getTime() + timeDifference);
            const dayOfWeek = now.getDay();
            let openingTime, closingTime;

            // Проверяем, выходной ли сегодня или праздничный день
            if (timeModelToday.isHoliday || dayOfWeek === 0 || dayOfWeek === 1) {
                // Если сегодня выходной, используем время следующего рабочего дня
                if (timeModelNext.customTimeStart && timeModelNext.customTimeEnd) {
                    const nextDate = new Date(timeModelNext.dateChange);
                    openingTime = new Date(nextDate.getFullYear(), nextDate.getMonth(), nextDate.getDate(), ...timeModelNext.customTimeStart.split(':'));
                    closingTime = new Date(nextDate.getFullYear(), nextDate.getMonth(), nextDate.getDate(), ...timeModelNext.customTimeEnd.split(':'));
                } else {
                    const nextDate = new Date(timeModelNext.dateChange);
                    openingTime = new Date(nextDate.getFullYear(), nextDate.getMonth(), nextDate.getDate(), 8, 0, 0);
                    closingTime = new Date(nextDate.getFullYear(), nextDate.getMonth(), nextDate.getDate(), 19, 0, 0);
                }
            } else {
                // Если сегодня рабочий день
                if (timeModelToday.customTimeStart && timeModelToday.customTimeEnd) {
                    const todayDate = new Date(timeModelToday.dateChange);
                    openingTime = new Date(todayDate.getFullYear(), todayDate.getMonth(), todayDate.getDate(), ...timeModelToday.customTimeStart.split(':'));
                    closingTime = new Date(todayDate.getFullYear(), todayDate.getMonth(), todayDate.getDate(), ...timeModelToday.customTimeEnd.split(':'));
                } else {
                    openingTime = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 8, 0, 0);
                    closingTime = new Date(now.getFullYear(), now.getMonth(), now.getDate(), 19, 0, 0);
                }
            }

            let isLibraryOpen = now >= openingTime && now < closingTime;

            const openStatus = document.getElementById('library-status-open');
            const closeStatus = document.getElementById('library-status-close');

            document.getElementById('services-current-date').textContent = now.toLocaleDateString(lang, {
                weekday: 'long',
                day: 'numeric',
                month: 'long'
            });

            document.getElementById('services-current-time').textContent = now.toLocaleTimeString(lang, {
                hour: '2-digit',
                minute: '2-digit',
            });

            if (isLibraryOpen) {
                closeStatus.style.display = 'none';
                openStatus.style.display = 'block';
            } else {
                openStatus.style.display = 'none';
                closeStatus.style.display = 'block';
            }

            const timeNum = document.getElementById('services__time-num');
            if (timeNum) {
                timeNum.textContent = `${openingTime.toLocaleTimeString(lang, {
                    hour: '2-digit',
                    minute: '2-digit'
                })} - ${closingTime.toLocaleTimeString(lang, {hour: '2-digit', minute: '2-digit'})}`;
            }

            let msUntilChange;
            if (isLibraryOpen) {
                msUntilChange = closingTime - now;
            } else {
                msUntilChange = openingTime - now;
            }

            const hours = Math.floor(msUntilChange / 3600000);
            const minutes = Math.floor((msUntilChange % 3600000) / 60000);
            const seconds = Math.floor((msUntilChange % 60000) / 1000);

            document.getElementById('services-close-time').textContent =
                `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
        }

        updateTimes();
        setInterval(updateTimes, 1000);
    });
</script>
