{% load i18n %}
{% load static %}

<footer id="footer" class="footer position-relative light-background">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
                <a href="/" class="logo d-flex align-items-center">
                    <span class="sitename">Pushkin Library</span>
                </a>
                <div class="footer-contact pt-3">
                    <p>{% trans 'library-title-2' %}</p>
                    
                    <p class="mt-3"><strong>{% trans 'phone' %}</strong> <span>+7(7232) 261-333</span><br>
                        <strong>{% trans 'phone' %}</strong> <span>+7(7232) 609-087</span></p>
                    <p><strong>{% trans 'email' %}</strong> <span>pushkinlibrary@yandex.kz</span></p>
                </div>
                <div class="social-links d-flex mt-4">
                    
                     {% for name, url, icon in exl %}
                    <a target="_blank" href="{{ url }}">
                        <i class="bi {{ icon }}"></i>
                    </a>
                {% endfor %}
                </div>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>{% trans 'about-us' %}</h4>
                <ul>
                    <li>
                        <a href="https://www.pushkinlibrary.kz/ru/homeru/aboutru.html">{% trans 'about-the-library' %}</a>
                    </li>
                    <li><a href="https://www.pushkinlibrary.kz/ru/homeru/historyru.html">{% trans 'history' %}</a></li>
                    <li><a href="https://www.pushkinlibrary.kz/ru/homeru/putevodrus.html">{% trans 'guide' %}</a></li>
                    <li><a href="https://www.pushkinlibrary.kz/ru/homeru/pravila.html">{% trans 'terms-of-use' %}</a>
                    </li>
                    <li><a href="https://www.pushkinlibrary.kz/ru/projects.html">{% trans 'project' %}</a></li>
                    <li>
                        <a href="https://www.pushkinlibrary.kz/ru/homeru/guestbookru.html">{% trans 'book-of-honorable-guests' %}</a>
                    </li>
                    <li>
                        <a href="https://www.pushkinlibrary.kz/ru/homeru/press-about-us.html">{% trans 'mass-media-about-us' %}</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>{% trans 'readers' %}</h4>
                <ul>
                    <li><a
                            href="https://www.pushkinlibrary.kz/ru/servicesru/stat-shitatelem.html">{% trans 'become-a-reader' %}</a>
                    </li>
                    <li><a
                            href="https://www.pushkinlibrary.kz/ru/servicesru/virkespravka.html">{% trans 'virtual-help' %}</a>
                    </li>
                    <li><a
                            href="https://www.pushkinlibrary.kz/ru/servicesru/eddru.html">{% trans 'electronic-document-delivery' %}</a>
                    </li>
                    <li><a
                            href="https://www.pushkinlibrary.kz/ru/servicesru/prodlit-knigu.html">{% trans 'renew-your-book' %}</a>
                    </li>
                    <li>
                        <a href="https://www.pushkinlibrary.kz/ru/servicesru/zapis-na-kursy.html">{% trans 'registration-for-courses' %}</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-3 footer-links">
                <h4>{% trans 'local-history' %}</h4>
                <ul>
                    <li>
                            <a href='http://irbis.pushkinlibrary.kz:8087/jirbis2/index.php?lang=ru'>{% trans 'electronic-library-our-abai' %}</a>
                        </li>
                        <li>
                            <a href='https://olketanu.pushkinlibrary.kz/index.php/ru/'>{% trans 'east-kazakhstan-local-history' %}</a>
                        </li>
                        <li>
                            <a href='https://esimder.pushkinlibrary.kz/ru'>{% trans 'famous-names-east-kazakhstan' %}</a>
                        </li>
                        <li>
                            <a href='https://olketanu.pushkinlibrary.kz/index.php/ru/k-mukhamedkhanovu.html'>{% trans 'kayum-mukhamedkhanov-index' %}</a>
                        </li>
                        <li>
                            <a href='https://olketanu.pushkinlibrary.kz/index.php/ru/kraevedenie-vko/3367-kalendar-znamenatelnykh-i-pamyatnykh-dat-po-vostochno-kazakhstanskoj-oblasti-2024.html'>{% trans 'significant-dates-calendar' %}</a>
                        </li>
                </ul>
            </div>

          {% comment %}  <div class="col-lg-4 col-md-12 footer-newsletter">
                <h4>Our Newsletter</h4>
                <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
                <form action="forms/newsletter.php" method="post" class="php-email-form">
                    <div class="newsletter-form"><input type="email" name="email"><input type="submit"
                                                                                         value="Subscribe"></div>
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Your subscription request has been sent. Thank you!</div>
                </form>
            </div>{% endcomment %}

        </div>
    </div>
    
    <div class="container copyright text-center mt-4">
      <p>1998-{{ current_year }} © {% trans 'library-title-1' %}</p>
    </div>
</footer>
