{% load i18n %}
{% load static %}
<header>
    <a href='{% url 'core' %}'>
        <img src="{% static 'img/header/logo.svg' %}" class="header-logo" alt="Logo">
    </a>
    <nav class="nav-main">
        <ul class="nav-list">
            <li class="menu-item">
                <div class="submenu-toggle">{% trans "library" %}</div>
                <ul class="submenu">
                    <li><a href='#!'>{% trans "home" %}</a></li>
                    <li><a href='#!'>{% trans 'about-us' %}</a></li>
                    <li><a href='#!'>{% trans 'history' %}</a></li>
                    <li><a href='#!'>{% trans 'terms-of-use' %}</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <div class='submenu-toggle'>{% trans 'readers' %}</div>
                <ul class="submenu">
                    <li><a href="#!">{% trans 'sign-up-for-readers' %}</a></li>
                    <li><a href="#!">{% trans 'virtual-help' %}</a></li>
                    <li><a href="#!">{% trans 'electronic-document-delivery' %}</a></li>
                    <li><a href="#!">{% trans 'renew-your-book' %}</a></li>
                    <li><a href="#!">{% trans 'sign-up-for-courses' %}</a></li>
                    <li><a href="#!">{% trans 'legal-consultations' %}</a></li>
                    <li><a href="#!">{% trans 'circles-and-clubs' %}</a></li>
                </ul>
            </li>
            <!-- ITEM-4 -->
            {#            <li class="header__nav-item">#}
            {#                <div class='submenu-toggle'>{% trans 'digital-catalogue' %}</div>#}
            {#                <ul class='submenu'>#}
            {#                    <li><a href='#'>{% trans 'electronic-library-our-abai' %}</a></li>#}
            {#                    <li><a href='#'>{% trans 'local-history-electronic-library' %}</a></li>#}
            {#                </ul>#}
            {#            </li> <!-- /ITEM-4 -->#}
            <!-- ITEM-5 -->
            <li class="header__nav-item">
                <div class='submenu-toggle'>{% trans 'local-history' %}</div>
                <ul class='submenu'>
                    <li><a href='#'>{% trans 'electronic-library-our-abai' %}</a></li>
                    <li><a href='#'>{% trans 'east-kazakhstan-local-history' %}</a></li>
                    <li><a href='#'>{% trans 'famous-names-east-kazakhstan' %}</a></li>
                    <li><a href='#'>{% trans 'kayum-mukhamedkhanov-index' %}</a></li>
                    <li><a href='#'>{% trans 'significant-dates-calendar' %}</a></li>
                </ul>
            </li><!-- /ITEM-5 -->
            <!-- ITEM-6 -->
            <li class="header__nav-item">
                <div class='submenu-toggle'>{% trans 'resources' %}</div>
                <ul class='submenu'>
                    <li><a href='#'>{% trans 'our-rarities' %}</a></li>
                    <li><a href='#'>{% trans 'virtual-exhibitions' %}</a></li>
                    <li><a href='#'>{% trans 'one-country-one-book' %}</a></li>
                    <li><a href='#'>{% trans 'new-arrivals' %}</a></li>
                    <li><a href='#'>{% trans 'archive' %}</a></li>
                </ul>
            </li>
            <!-- /ITEM-6 -->

            <!-- ITEM-7 -->
            <li class="header__nav-item">
                <div class='submenu-toggle'>{% trans 'for-professionals' %}</div>
                <ul class='submenu'>
                    <li><a href='#'>{% trans 'methodological-service' %}</a></li>
                    <li><a href='#'>{% trans 'spiritual-treasure' %}</a></li>
                </ul>
            </li>
            <!-- /ITEM-7 -->
            <!-- Кнопка админ панели -->
            {% if user.is_authenticated and user.is_staff %}
                <li class="header__nav-item">
                    <a class="nav-link submenu-toggle" href="/admin/">
                        <i class="fas fa-user-shield"></i> Админ
                    </a>
                </li>
            {% endif %}
            <li class="header__nav-item">
                <div class='submenu-toggle'>

                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        {% if language.code == LANGUAGE_CODE %}
                            <div class='submenu-toggle'>{{ language.name_local }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
                <ul class='submenu'>
                    {% for language in languages %}
                        {% if language.code == LANGUAGE_CODE %}
{#                            <li>#}
{#                                <div class="select-lang">{{ language.name_local }}</div>#}
{#                            </li>#}

                        {% else %}
                            <li>
                                <form action="{% url 'set_language' %}" method="post">
                                    {% csrf_token %}
                                    <input name="next" type="hidden" value="{{ request.path }}">
                                    <input type="hidden" name="language" value="{{ language.code }}">
                                    <a href="#"
                                       onclick="this.parentNode.submit();">{{ language.name_local }}</a>
                                </form>
                            </li>

                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </nav>
    <div class="fixed-size">

        <button class="nav-toggle" aria-label="toggle navigation">
            <img src="{% static 'img/menu.svg' %}" alt="Menu" class="header-icon">
        </button>
    </div>
</header>