{% load i18n %}
{% load static %}
<header>
    <a href="#" class="logo">Logo</a>
    <nav>
        <ul class="nav-list">
            <li><a href="#">Home</a></li>
            <li class="menu-item">
                <a href="#" class="submenu-toggle">About</a>
                <ul class="submenu">
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">Our History</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="#" class="submenu-toggle">Services</a>
                <ul class="submenu">
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Development</a></li>
                </ul>
            </li>
            <li><a href="#">Contact</a></li>
            <li class="menu-item">
                <a href="#" class="submenu-toggle">Developer</a>
                <ul class="submenu">
                    <li><a href="#">API</a></li>
                    <li><a href="#">Resources</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <button class="nav-toggle" aria-label="toggle navigation">Menu</button>
</header>